In [182]:
# Data Exploitation & PreProcessing

In [183]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/unimelb_training.csv', low_memory = False)
df.head(5)

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:

team_df = pd.DataFrame()

In [185]:
def dataExploit(columnName, max_range) : 
    print("for Catagory '{0}' data frame looks like below".format(columnName))
    print('-----------------------------------------------------------------------------')
    inp =  columnName
    if max_range >= 1 : 
        interest_cols = [inp+".%d" % x for x in range(1,max_range)]
    else : 
        interest_cols = [inp]
    data_df = df[interest_cols]
    print(data_df.head(10))
    print('-----------------------------------------------------------------------------')

In [186]:
def printOutputData() : 
    print("Output Result")
    print('-----------------------------------------------------------------------------')
    print(team_df.head(10))
    print('-----------------------------------------------------------------------------')

In [187]:
def unique(list1):
    unique_list = []
     
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    return unique_list

def len_nan_uncount(x) : 
    cnt = 0
    for t in x : 
        if type(x) is float : 
            if np.isnan(t) : cnt = cnt
            else : cnt += 1
        else : cnt += 1
    return cnt

def FindUniqueValues(columnName, num_col) : 
    print("Unique Values are like")
    print('-----------------------------------------------------------------------------')
    uniq_list = []
    if(num_col == 1) : 
        uniq_list = pd.unique(df[columnName])
    else : 
        for i in range (1, num_col) : 
            values = pd.unique(df[columnName+".%d" % i])
            uniq_list.extend(values)
            uniq_list = unique(uniq_list)
    print(uniq_list)
    print('-----------------------------------------------------------------------------')
    print("length is : %s" % len_nan_uncount(uniq_list))

In [188]:
dataExploit('A.',12)
FindUniqueValues('A.', 16)

for Catagory 'A.' data frame looks like below
-----------------------------------------------------------------------------
   A..1  A..2  A..3  A..4  A..5  A..6  A..7  A..8  A..9  A..10  A..11
0   4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
1   6.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
2   0.0   0.0   1.0   6.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN
3   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
4   3.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
5   7.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
6   8.0   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
7   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
8   8.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
9   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[4.0, 6.0, 0.0, 3.0, 7.0, 8.0, 1.0, 2.0, 10.0, 9.0, 16.0, nan, 11.0, 12.0, 17.0, 22.0, 15.0, 5.0, 19.0, 13.0, 27.0, 25.0, 75.0, 31.0, 18.0, 14.0, 37.0, 45.0, 40.0, 34.0, 48.0, 30.0, 20.0, 29.0, 26.0, 21.0, 42.0, 68.0, 53.0, 36.0, 92.0, 74.0, 32.0, 58.0, 28.0, 33.0, 23.0, 38.0, 111.0, 24.0, 90.0, 41.0, 39.0, 79.0, 84.0, 51.0, 72.0, 113.0, 49.0, 35.0, 99.0, 123.0, 60.0, nan, nan, 73.0, 96.0, 64.0, 54.0, nan, 63.0, 71.0, nan, nan, nan, nan, nan, nan, 43.0, nan, nan, nan, nan, nan]
-----------------------------------------------------------------------------
length is : 84

In [189]:
dataExploit('A', 12)

for Catagory 'A' data frame looks like below
-----------------------------------------------------------------------------
    A.1  A.2  A.3   A.4  A.5  A.6  A.7  A.8  A.9  A.10  A.11
0   2.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  12.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   3.0  0.0  3.0  14.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3   3.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   5.0  0.0  7.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8   1.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [190]:
dataExploit('B', 12)

for Catagory 'B' data frame looks like below
-----------------------------------------------------------------------------
    B.1  B.2   B.3   B.4  B.5  B.6  B.7  B.8  B.9  B.10  B.11
0   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1   2.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   5.0  0.0   3.0  12.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  13.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   1.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   2.0  0.0  12.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  11.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [191]:
dataExploit('C', 12)

for Catagory 'C' data frame looks like below
-----------------------------------------------------------------------------
   C.1  C.2  C.3  C.4  C.5  C.6  C.7  C.8  C.9  C.10  C.11
0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2  2.0  0.0  3.0  2.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  3.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  6.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6  0.0  0.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [192]:

input_cols = ["A.", "A", "B", "C"]
output_cols = [x+".papers" for x in input_cols]

for inp, outp in zip(input_cols, output_cols):
    interest_cols = [inp+".%d" % x for x in range(1,16)]
    team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [193]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers
0        4.0       2.0       0.0       0.0
1        6.0      12.0       2.0       2.0
2        7.0      20.0      20.0       7.0
3        0.0       3.0      13.0       3.0
4        3.0       0.0       1.0       0.0
5        7.0      27.0      27.0       6.0
6        8.0      12.0      14.0       4.0
7        0.0       0.0       0.0       0.0
8        8.0       1.0      11.0       0.0
9        1.0       0.0       0.0       0.0
-----------------------------------------------------------------------------

In [194]:
dataExploit("Country.of.Birth", 5)
FindUniqueValues("Country.of.Birth", 16)

for Catagory 'Country.of.Birth' data frame looks like below
-----------------------------------------------------------------------------
  Country.of.Birth.1 Country.of.Birth.2 Country.of.Birth.3 Country.of.Birth.4
0       Asia Pacific                NaN                NaN                NaN
1          Australia                NaN                NaN                NaN
2          Australia          Australia       Asia Pacific          Australia
3          Australia          Australia                NaN                NaN
4     Western Europe                NaN                NaN                NaN
5          Australia                NaN                NaN                NaN
6          Australia          Australia      Great Britain                NaN
7          Australia          Australia                NaN                NaN
8          Australia          Australia                NaN                NaN
9                NaN                NaN                NaN                NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Asia Pacific', 'Australia', 'Western Europe', nan, 'North America', 'Great Britain', 'New Zealand', 'The Americas', 'Eastern Europe', 'South Africa', 'Middle East and Africa']
-----------------------------------------------------------------------------
length is : 11

In [195]:
inp = "Country.of.Birth"
outp = "Dif.countries"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

outp = "Perc_non_australian" # From 0 to 1
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_perc(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    australian = len([elem for elem in x if elem == "Australia"])
    return australian/float(total)
    
team_df[outp] = df[interest_cols].apply(compute_perc, axis =1)

In [196]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  Perc_non_australian
0        4.0       2.0       0.0       0.0              1             0.000000
1        6.0      12.0       2.0       2.0              1             1.000000
2        7.0      20.0      20.0       7.0              2             0.750000
3        0.0       3.0      13.0       3.0              1             1.000000
4        3.0       0.0       1.0       0.0              1             0.000000
5        7.0      27.0      27.0       6.0              1             1.000000
6        8.0      12.0      14.0       4.0              2             0.666667
7        0.0       0.0       0.0       0.0              1             1.000000
8        8.0       1.0      11.0       0.0              1             1.000000
9        1.0       0.0       0.0       0.0              0             0.000000
-----------------------------------------------------------------------------

In [197]:
dataExploit("Person.ID", 5)

for Catagory 'Person.ID' data frame looks like below
-----------------------------------------------------------------------------
   Person.ID.1  Person.ID.2  Person.ID.3  Person.ID.4
0      40572.0          NaN          NaN          NaN
1       9067.0          NaN          NaN          NaN
2       5967.0      27307.0      79652.0      11667.0
3      78782.0      55337.0          NaN          NaN
4      13042.0          NaN          NaN          NaN
5     301472.0          NaN          NaN          NaN
6      74292.0      82602.0      79742.0          NaN
7       1642.0      70212.0          NaN          NaN
8       1012.0      80197.0          NaN          NaN
9      89462.0          NaN          NaN          NaN
-----------------------------------------------------------------------------

In [198]:
inp = "Person.ID"
outp = "Number.people"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [199]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people
0             0.000000              1
1             1.000000              1
2             0.750000              4
3             1.000000              2
4             0.000000              1
5             1.000000              1
6             0.666667              3
7             1.000000              2
8             1.000000              2
9             0.000000              1
-----------------------------------------------------------------------------

In [200]:
dataExploit("With.PHD", 7)
FindUniqueValues("With.PHD", 16)

for Catagory 'With.PHD' data frame looks like below
-----------------------------------------------------------------------------
  With.PHD.1 With.PHD.2 With.PHD.3 With.PHD.4 With.PHD.5 With.PHD.6
0        NaN        NaN        NaN        NaN        NaN        NaN
1       Yes         NaN        NaN        NaN        NaN        NaN
2       Yes         NaN       Yes         NaN        NaN        NaN
3       Yes        Yes         NaN        NaN        NaN        NaN
4       Yes         NaN        NaN        NaN        NaN        NaN
5       Yes         NaN        NaN        NaN        NaN        NaN
6       Yes        Yes         NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN        NaN        NaN
8       Yes        Yes         NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN        NaN        NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[nan, 'Yes ', nan, nan]
-----------------------------------------------------------------------------
length is : 4

In [201]:
inp =  'With.PHD'
outp = "PHD"
interest_cols = [inp+".%d" % x for x in range(1,16)]
aux = df[interest_cols].replace({"Yes ": 1, np.nan: 0, "No": 0, "yes":1})
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [202]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD
0             0.000000              1  0.0
1             1.000000              1  1.0
2             0.750000              4  2.0
3             1.000000              2  2.0
4             0.000000              1  1.0
5             1.000000              1  1.0
6             0.666667              3  2.0
7             1.000000              2  0.0
8             1.000000              2  2.0
9             0.000000              1  0.0
-----------------------------------------------------------------------------

In [203]:
dataExploit("No..of.Years.in.Uni.at.Time.of.Grant", 2)
FindUniqueValues("No..of.Years.in.Uni.at.Time.of.Grant", 16)

for Catagory 'No..of.Years.in.Uni.at.Time.of.Grant' data frame looks like below
-----------------------------------------------------------------------------
  No..of.Years.in.Uni.at.Time.of.Grant.1
0                            Less than 0
1                           more than 15
2                               >5 to 10
3                               >5 to 10
4                               >5 to 10
5                               >=0 to 5
6                              >10 to 15
7                                    NaN
8                               >5 to 10
9                                    NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Less than 0', 'more than 15', '>5 to 10', '>=0 to 5', '>10 to 15', nan, nan]
-----------------------------------------------------------------------------
length is : 7

In [204]:
# NaN          --> 0
# Less than 0  --> 0
# >=0 to 5     --> 5
# >5 to 10     --> 10
# >10 to 15    --> 15
# more than 15 --> 20


inp =  "No..of.Years.in.Uni.at.Time.of.Grant" 
outp = "Max.years.univ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
categories_of_years = pd.Series(df[interest_cols].values.ravel()).unique()
year_converter = dict(zip(categories_of_years, [0, 0, 20, 10, 5, 15]))

aux = df[interest_cols].replace(year_converter)
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [205]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ
0             0.000000              1  0.0             0.0
1             1.000000              1  1.0            20.0
2             0.750000              4  2.0            50.0
3             1.000000              2  2.0            15.0
4             0.000000              1  1.0            10.0
5             1.000000              1  1.0             5.0
6             0.666667              3  2.0            30.0
7             1.000000              2  0.0             0.0
8             1.000000              2  2.0            20.0
9             0.000000              1  0.0             0.0
-----------------------------------------------------------------------------

In [206]:
dataExploit('Number.of.Successful.Grant', 3)
FindUniqueValues('Number.of.Successful.Grant', 16)
dataExploit('Number.of.Unsuccessful.Grant', 3)
FindUniqueValues('Number.of.Unsuccessful.Grant', 16)

for Catagory 'Number.of.Successful.Grant' data frame looks like below
-----------------------------------------------------------------------------
   Number.of.Successful.Grant.1  Number.of.Successful.Grant.2
0                           0.0                           NaN
1                           0.0                           NaN
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           NaN
5                           2.0                           NaN
6                           0.0                           0.0
7                           0.0                           0.0
8                           0.0                           2.0
9                           0.0                           NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[0.0, 2.0, 1.0, 3.0, nan, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0, 12.0, 10.0, 13.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
-----------------------------------------------------------------------------
length is : 29
for Catagory 'Number.of.Unsuccessful.Grant' data frame looks like below
-----------------------------------------------------------------------------
   Number.of.Unsuccessful.Grant.1  Number.of.Unsuccessful.Grant.2
0                             0.0                             NaN
1                             0.0                             NaN
2                             0.0                             0.0
3                             0.0                             0.0
4                             0.0                             NaN
5                             0.0                             NaN
6                             0.0                             1.0
7                             3.0                             0.0
8                             0.0                             1.0
9                             0.0                             NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[0.0, 3.0, 7.0, 1.0, 4.0, 5.0, 2.0, 6.0, nan, 9.0, 8.0, 11.0, 10.0, 12.0, 13.0, 14.0, 17.0, 15.0, 18.0, 19.0, 20.0, 22.0, 23.0, 24.0, 16.0, 21.0, 25.0, 26.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
-----------------------------------------------------------------------------
length is : 42

In [207]:
inp =  'Number.of.Successful.Grant'
outp = "Grants.succ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

inp =  "Number.of.Unsuccessful.Grant"
outp = "Grants.unsucc"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [208]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5            0.0
6            1.0
7            3.0
8            1.0
9            0.0
-----------------------------------------------------------------------------

In [209]:
dataExploit("Dept.No.", 5)

for Catagory 'Dept.No.' data frame looks like below
-----------------------------------------------------------------------------
   Dept.No..1  Dept.No..2  Dept.No..3  Dept.No..4
0      3073.0         NaN         NaN         NaN
1      2538.0         NaN         NaN         NaN
2      2923.0      2923.0      2498.0      2548.0
3      2678.0      2678.0         NaN         NaN
4      2153.0         NaN         NaN         NaN
5      2533.0         NaN         NaN         NaN
6      3028.0      3028.0      3028.0         NaN
7      2563.0      2563.0         NaN         NaN
8      3123.0      3123.0         NaN         NaN
9         NaN         NaN         NaN         NaN
-----------------------------------------------------------------------------

In [210]:
inp =  "Dept.No."
outp = "Departments"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [211]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments
0            0.0            1
1            0.0            1
2            0.0            3
3            0.0            1
4            0.0            1
5            0.0            1
6            1.0            1
7            3.0            1
8            1.0            1
9            0.0            0
-----------------------------------------------------------------------------

In [212]:
dataExploit("Home.Language", 5)
FindUniqueValues("Home.Language", 16)

for Catagory 'Home.Language' data frame looks like below
-----------------------------------------------------------------------------
  Home.Language.1 Home.Language.2 Home.Language.3 Home.Language.4
0           Other             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN
5             NaN             NaN             NaN             NaN
6             NaN             NaN             NaN             NaN
7             NaN             NaN             NaN             NaN
8         English         English             NaN             NaN
9             NaN             NaN             NaN             NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Other', nan, 'English', nan, nan, nan, nan, nan]
-----------------------------------------------------------------------------
length is : 8

In [213]:
inp = "Home.Language"
outp = "Perc.Lang.Eng"  
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_eng_perc(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    eng_use = len([elem for elem in x if elem == "English"])

    return eng_use/float(total)

def compute_other_perc(x) : 
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    other_use = len([elem for elem in x if elem == "Other"])
    return other_use/float(total)

team_df[outp] = df[interest_cols].apply(compute_eng_perc, axis =1)

outp = "Perc.Lang.Other" 
team_df[outp] = df[interest_cols].apply(compute_other_perc, axis =1)

In [214]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other
0            0.0            1            0.0              1.0
1            0.0            1            0.0              0.0
2            0.0            3            0.0              0.0
3            0.0            1            0.0              0.0
4            0.0            1            0.0              0.0
5            0.0            1            0.0              0.0
6            1.0            1            0.0              0.0
7            3.0            1            0.0              0.0
8            1.0            1            1.0              0.0
9            0.0            0            0.0              0.0
-----------------------------------------------------------------------------

In [215]:
dataExploit('Role',4 )
FindUniqueValues("Role", 16)

for Catagory 'Role' data frame looks like below
-----------------------------------------------------------------------------
                 Role.1                  Role.2                  Role.3
0    CHIEF_INVESTIGATOR                     NaN                     NaN
1    CHIEF_INVESTIGATOR                     NaN                     NaN
2    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR
3  PRINCIPAL_SUPERVISOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
4    CHIEF_INVESTIGATOR                     NaN                     NaN
5    CHIEF_INVESTIGATOR                     NaN                     NaN
6    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR
7    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
8    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
9    CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['CHIEF_INVESTIGATOR', 'PRINCIPAL_SUPERVISOR', 'DELEGATED_RESEARCHER', 'EXT_CHIEF_INVESTIGATOR', nan, 'STUD_CHIEF_INVESTIGATOR', 'HONVISIT', 'EXTERNAL_ADVISOR', 'STUDRES', nan]
-----------------------------------------------------------------------------
length is : 10

In [216]:
# TODO : role preprocessing
inp = "Role"  
outp = "Dif.Role"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

outp = "Perc.CHIEF.INVESTIGATOR" # From 0 to 1
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_perc_chief(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    chief = len([elem for elem in x if elem == "CHIEF_INVESTIGATOR"])
    return chief/float(total)
    
team_df[outp] = df[interest_cols].apply(compute_perc_chief, axis =1)

In [217]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  \
0            0.0            1            0.0              1.0         1
1            0.0            1            0.0              0.0         1
2            0.0            3            0.0              0.0         3
3            0.0            1            0.0              0.0         4
4            0.0            1            0.0              0.0         1
5            0.0            1            0.0              0.0         1
6            1.0            1            0.0              0.0         2
7            3.0            1            0.0              0.0         2
8            1.0            1            1.0              0.0         2
9            0.0            0            0.0              0.0         2

   Perc.CHIEF.INVESTIGATOR
0                 1.000000
1                 1.000000
2                 0.428571
3                 0.166667
4                 1.000000
5                 1.000000
6                 0.750000
7                 0.666667
8                 0.500000
9                 0.250000
-----------------------------------------------------------------------------

In [218]:
dataExploit('Year.of.Birth',4 )
FindUniqueValues("Year.of.Birth",16)

for Catagory 'Year.of.Birth' data frame looks like below
-----------------------------------------------------------------------------
   Year.of.Birth.1  Year.of.Birth.2  Year.of.Birth.3
0           1965.0              NaN              NaN
1           1960.0              NaN              NaN
2           1955.0           1950.0           1950.0
3           1955.0           1975.0              NaN
4           1965.0              NaN              NaN
5           1950.0              NaN              NaN
6           1960.0           1960.0           1950.0
7           1965.0           1940.0              NaN
8           1945.0           1950.0              NaN
9           1930.0              NaN              NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[1965.0, 1960.0, 1955.0, 1950.0, 1945.0, 1930.0, 1970.0, 1975.0, 1940.0, 1935.0, nan, 1980.0, 1925.0, 1985.0, nan, 1900.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
-----------------------------------------------------------------------------
length is : 29

In [219]:
inp =  'Year.of.Birth'
outp = "Average.Age"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nanmean(2017-x), axis =1)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: Mean of empty slice
  after removing the cwd from sys.path.

In [220]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  \
0            0.0            1            0.0              1.0         1
1            0.0            1            0.0              0.0         1
2            0.0            3            0.0              0.0         3
3            0.0            1            0.0              0.0         4
4            0.0            1            0.0              0.0         1
5            0.0            1            0.0              0.0         1
6            1.0            1            0.0              0.0         2
7            3.0            1            0.0              0.0         2
8            1.0            1            1.0              0.0         2
9            0.0            0            0.0              0.0         2

   Perc.CHIEF.INVESTIGATOR  Average.Age
0                 1.000000    52.000000
1                 1.000000    57.000000
2                 0.428571    65.750000
3                 0.166667    52.000000
4                 1.000000    52.000000
5                 1.000000    67.000000
6                 0.750000    60.333333
7                 0.666667    64.500000
8                 0.500000    69.500000
9                 0.250000    87.000000
-----------------------------------------------------------------------------

In [221]:
################# TEAM FEATURE PREPROCESSING COMPLETED ###################

In [222]:
## DATE -> WEEKDAY, MONTH, DAY&MONTH(1~365), DAY of MONTH(1~31), SEASON


df['Start.date'] = pd.to_datetime(df['Start.date'])

def get_weekday(x) : 
    return x.weekday()

def get_month(x) : 
    return x.month

def get_day(x) : 
    return x.day

def get_days_of_month(x, leap) : 
    if (x == 1) | (x == 3) | (x == 5) | (x == 7) | (x == 8) | (x == 10) | (x == 12) : 
        return 31
    elif (x == 2) & (leap == 1) :
        return 29
    elif (x == 2) & (leap == 0) : 
        return 28
    elif (x == 4) | (x == 6) | (x == 9) | (x == 11) : 
        return 30
    else : 
        return 0


def get_day_and_month(x) : 
    month = get_month(x)
    day_and_month = 0
    year = x.year
    if year == 2008 : 
        leap = 1
    else : 
        leap = 0
    
    for i in range (month) : 
        day_and_month += get_days_of_month(i, leap)
    day_and_month += get_day(x)
    
    return day_and_month


def get_season(x) : 
    return x.quarter

In [223]:
    
team_df['Weekday'] = df['Start.date'].apply(get_weekday)
team_df['Month'] = df['Start.date'].apply(get_month)
team_df['Day.of.Month'] = df['Start.date'].apply(get_day)
team_df['Day.of.Year'] = df['Start.date'].apply(get_day_and_month)
team_df['Season'] = df['Start.date'].apply(get_season)

In [224]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

    ...    Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  Perc.CHIEF.INVESTIGATOR  \
0   ...              0.0              1.0         1                 1.000000
1   ...              0.0              0.0         1                 1.000000
2   ...              0.0              0.0         3                 0.428571
3   ...              0.0              0.0         4                 0.166667
4   ...              0.0              0.0         1                 1.000000
5   ...              0.0              0.0         1                 1.000000
6   ...              0.0              0.0         2                 0.750000
7   ...              0.0              0.0         2                 0.666667
8   ...              1.0              0.0         2                 0.500000
9   ...              0.0              0.0         2                 0.250000

   Average.Age  Weekday  Month  Day.of.Month  Day.of.Year  Season
0    52.000000        3      8            11          223       3
1    57.000000        4     11            11          315       4
2    65.750000        0     11            14          318       4
3    52.000000        1     11            15          319       4
4    52.000000        2     11            16          320       4
5    67.000000        5     11            19          323       4
6    60.333333        5     11            19          323       4
7    64.500000        5     11            19          323       4
8    69.500000        5     11            19          323       4
9    87.000000        5     11            19          323       4

[10 rows x 22 columns]
-----------------------------------------------------------------------------

In [225]:
dataExploit("Sponsor.Code", 0)
FindUniqueValues("Sponsor.Code", 0)

for Catagory 'Sponsor.Code' data frame looks like below
-----------------------------------------------------------------------------
  Sponsor.Code
0          NaN
1           2B
2          29A
3          40D
4          59C
5           4D
6           2B
7          28D
8           2B
9           2B
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[]
-----------------------------------------------------------------------------
length is : 0

In [226]:
def extract_number(x) : 
    if type(x) is str : 
        return int(x[:-1])
    elif type(x) is float : 
        return np.nansum(x)


inp =  'Sponsor.Code'
outp = "Sponsor.Code"
team_df[outp] = df[inp].apply(extract_number)

In [227]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

       ...       Perc.Lang.Other  Dif.Role  Perc.CHIEF.INVESTIGATOR  \
0      ...                   1.0         1                 1.000000
1      ...                   0.0         1                 1.000000
2      ...                   0.0         3                 0.428571
3      ...                   0.0         4                 0.166667
4      ...                   0.0         1                 1.000000
5      ...                   0.0         1                 1.000000
6      ...                   0.0         2                 0.750000
7      ...                   0.0         2                 0.666667
8      ...                   0.0         2                 0.500000
9      ...                   0.0         2                 0.250000

   Average.Age  Weekday  Month  Day.of.Month  Day.of.Year  Season  \
0    52.000000        3      8            11          223       3
1    57.000000        4     11            11          315       4
2    65.750000        0     11            14          318       4
3    52.000000        1     11            15          319       4
4    52.000000        2     11            16          320       4
5    67.000000        5     11            19          323       4
6    60.333333        5     11            19          323       4
7    64.500000        5     11            19          323       4
8    69.500000        5     11            19          323       4
9    87.000000        5     11            19          323       4

   Sponsor.Code
0           0.0
1           2.0
2          29.0
3          40.0
4          59.0
5           4.0
6           2.0
7          28.0
8           2.0
9           2.0

[10 rows x 23 columns]
-----------------------------------------------------------------------------

In [228]:
dataExploit("Grant.Category.Code", 0)
FindUniqueValues("Grant.Category.Code", 0)

for Catagory 'Grant.Category.Code' data frame looks like below
-----------------------------------------------------------------------------
  Grant.Category.Code
0                 NaN
1                 10A
2                 10B
3                 10B
4                 10A
5                 10A
6                 10A
7                 30B
8                 10A
9                 10A
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[]
-----------------------------------------------------------------------------
length is : 0

In [229]:
def give_unique_category_code(x) : 
    if type(x) is str : 
        if x == '10A' : return 1
        elif x == '20A' : return 2
        elif x == '30A' : return 3
        elif x == '50A' : return 4
        elif x == '10B' : return 5
        elif x == '30B' : return 6
        elif x == '20C' : return 7
        elif x == '30C' : return 8
        elif x == '40C' : return 9
        elif x == '30D' : return 10
        elif x == '30E' : return 11
        elif x == '30F' : return 12
        elif x == '30G' : return 13
        else : return 0
    elif type(x) is float : 
        return np.nansum(x)


inp =  'Grant.Category.Code'
outp = "Grant.Category.Code"
team_df[outp] = df[inp].apply(give_unique_category_code)

In [230]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

          ...           Dif.Role  Perc.CHIEF.INVESTIGATOR  Average.Age  \
0         ...                  1                 1.000000    52.000000
1         ...                  1                 1.000000    57.000000
2         ...                  3                 0.428571    65.750000
3         ...                  4                 0.166667    52.000000
4         ...                  1                 1.000000    52.000000
5         ...                  1                 1.000000    67.000000
6         ...                  2                 0.750000    60.333333
7         ...                  2                 0.666667    64.500000
8         ...                  2                 0.500000    69.500000
9         ...                  2                 0.250000    87.000000

   Weekday  Month  Day.of.Month  Day.of.Year  Season  Sponsor.Code  \
0        3      8            11          223       3           0.0
1        4     11            11          315       4           2.0
2        0     11            14          318       4          29.0
3        1     11            15          319       4          40.0
4        2     11            16          320       4          59.0
5        5     11            19          323       4           4.0
6        5     11            19          323       4           2.0
7        5     11            19          323       4          28.0
8        5     11            19          323       4           2.0
9        5     11            19          323       4           2.0

   Grant.Category.Code
0                  0.0
1                  1.0
2                  5.0
3                  5.0
4                  1.0
5                  1.0
6                  1.0
7                  6.0
8                  1.0
9                  1.0

[10 rows x 24 columns]
-----------------------------------------------------------------------------

In [231]:
dataExploit("Contract.Value.Band...see.note.A", 0)
FindUniqueValues("Contract.Value.Band...see.note.A", 0)
df['Contract.Value.Band...see.note.A'].dtypes

for Catagory 'Contract.Value.Band...see.note.A' data frame looks like below
-----------------------------------------------------------------------------
  Contract.Value.Band...see.note.A
0                               A
1                               B
2                               A
3                               C
4                               A
5                              NaN
6                              NaN
7                               A
8                               H
9                              NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[]
-----------------------------------------------------------------------------
length is : 0

dtype('O')

In [232]:

#From	To	Band Code
#1	50000	A
#50001	100000	B
#100001	200000	C
#200001	300000	D
#300001	400000	E
#400001	500000	F
#500001	1000000	G
#1000001	2000000	H
#2000001	3000000	I
#3000001	4000000	J
#4000001	5000000	K
#5000001	6000000	L
#6000001	7000000	M
#7000001	8000000	N
#8000001	9000000	O
#9000001	10000000	P
#10000001	100000000	Q

def get_max_range_band(x) : 
    if(type(x) is str) : 
        if x == 'A ' : return 50000
        elif x == 'B ' : return 100000
        elif x == 'C ' : return 200000
        elif x == 'D ' : return 300000
        elif x == 'E ' : return 400000
        elif x == 'F ' : return 500000
        elif x == 'G ' : return 1000000
        elif x == 'H ' : return 2000000
        elif x == 'I ' : return 3000000
        elif x == 'J ' : return 4000000
        elif x == 'K ' : return 5000000
        elif x == 'L ' : return 6000000
        elif x == 'M ' : return 7000000
        elif x == 'N ' : return 8000000
        elif x == 'O ' : return 9000000
        elif x == 'P ' : return 10000000
        elif x == 'Q ' : return 100000000
    else : return 0



inp =  "Contract.Value.Band...see.note.A" 
outp = "Contract.Value.Band"

team_df[outp] = df[inp].apply(get_max_range_band)

In [233]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

          ...           Perc.CHIEF.INVESTIGATOR  Average.Age  Weekday  Month  \
0         ...                          1.000000    52.000000        3      8
1         ...                          1.000000    57.000000        4     11
2         ...                          0.428571    65.750000        0     11
3         ...                          0.166667    52.000000        1     11
4         ...                          1.000000    52.000000        2     11
5         ...                          1.000000    67.000000        5     11
6         ...                          0.750000    60.333333        5     11
7         ...                          0.666667    64.500000        5     11
8         ...                          0.500000    69.500000        5     11
9         ...                          0.250000    87.000000        5     11

   Day.of.Month  Day.of.Year  Season  Sponsor.Code  Grant.Category.Code  \
0            11          223       3           0.0                  0.0
1            11          315       4           2.0                  1.0
2            14          318       4          29.0                  5.0
3            15          319       4          40.0                  5.0
4            16          320       4          59.0                  1.0
5            19          323       4           4.0                  1.0
6            19          323       4           2.0                  1.0
7            19          323       4          28.0                  6.0
8            19          323       4           2.0                  1.0
9            19          323       4           2.0                  1.0

   Contract.Value.Band
0                50000
1               100000
2                50000
3               200000
4                50000
5                    0
6                    0
7                50000
8              2000000
9                    0

[10 rows x 25 columns]
-----------------------------------------------------------------------------

In [234]:
def substring_to_int(x) : 
    if np.isnan(x) : 
        return 0
    else : 
        return int (x / 10000)

df["RFCD.Code.1"] = df["RFCD.Code.1"].apply(substring_to_int)
df["RFCD.Code.2"] = df["RFCD.Code.2"].apply(substring_to_int)
df["RFCD.Code.3"] = df["RFCD.Code.3"].apply(substring_to_int)
df["RFCD.Code.4"] = df["RFCD.Code.4"].apply(substring_to_int)
df["RFCD.Code.5"] = df["RFCD.Code.5"].apply(substring_to_int)


dataExploit("RFCD.Code", 5)
FindUniqueValues("RFCD.Code", 6)

for Catagory 'RFCD.Code' data frame looks like below
-----------------------------------------------------------------------------
   RFCD.Code.1  RFCD.Code.2  RFCD.Code.3  RFCD.Code.4
0           28            0            0            0
1           28           28           28            0
2           32           32            0            0
3           27           32            0            0
4           26           28           29            0
5           32            0            0            0
6           27           27           27            0
7           32            0            0            0
8           26           26            0            0
9           27           27           27            0
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[28, 32, 27, 26, 23, 29, 30, 38, 37, 33, 0, 35, 40, 42, 21, 24, 25, 36, 39, 34, 31, 44, 41, 43, 99]
-----------------------------------------------------------------------------
length is : 25

In [235]:
df["SEO.Code.1"] = df["SEO.Code.1"].apply(substring_to_int)
df["SEO.Code.2"] = df["SEO.Code.2"].apply(substring_to_int)
df["SEO.Code.3"] = df["SEO.Code.3"].apply(substring_to_int)
df["SEO.Code.4"] = df["SEO.Code.4"].apply(substring_to_int)
df["SEO.Code.5"] = df["SEO.Code.5"].apply(substring_to_int)

dataExploit("SEO.Code", 6)
FindUniqueValues("SEO.Code",6)

for Catagory 'SEO.Code' data frame looks like below
-----------------------------------------------------------------------------
   SEO.Code.1  SEO.Code.2  SEO.Code.3  SEO.Code.4  SEO.Code.5
0          70           0           0           0           0
1          70          70           0           0           0
2          73          73           0           0           0
3          73          73           0           0           0
4          77           0           0           0           0
5          73           0           0           0           0
6          77          77           0           0           0
7          73           0           0           0           0
8          78           0           0           0           0
9          77          77           0           0           0
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------

KeyError: 'SEO.Code.1.1'