In [61]:
# Data Exploitation & PreProcessing

In [62]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/unimelb_training.csv', low_memory = False)
df.head(5)

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:

team_df = pd.DataFrame()

In [64]:
def dataExploit(columnName, max_range) : 
    print("for Catagory '{0}' data frame looks like below".format(columnName))
    print('-----------------------------------------------------------------------------')
    inp =  columnName
    if max_range >= 1 : 
        interest_cols = [inp+".%d" % x for x in range(1,max_range)]
    else : 
        interest_cols = [inp]
    data_df = df[interest_cols]
    print(data_df.head(10))
    print('-----------------------------------------------------------------------------')

In [65]:
def printOutputData() : 
    print("Output Result")
    print('-----------------------------------------------------------------------------')
    print(team_df.head(10))
    print('-----------------------------------------------------------------------------')

In [66]:
def FindUniqueValues(columnName) : 
    print("Unique Values are like")
    print('-----------------------------------------------------------------------------')
    values = pd.unique(df[columnName])
    print(values)
    print('-----------------------------------------------------------------------------')
    print("length is : %s" % len(values))

In [67]:
dataExploit('A.',12)
FindUniqueValues('A..1')

for Catagory 'A.' data frame looks like below
-----------------------------------------------------------------------------
   A..1  A..2  A..3  A..4  A..5  A..6  A..7  A..8  A..9  A..10  A..11
0   4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
1   6.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
2   0.0   0.0   1.0   6.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN
3   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
4   3.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
5   7.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
6   8.0   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
7   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
8   8.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
9   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[  4.   6.   0.   3.   7.   8.   1.   2.  10.   9.  16.  nan  11.  12.
  17.  22.  15.   5.  19.  13.  27.  25.  75.  31.  18.  14.  37.  45.
  40.  34.  48.  30.  20.  29.  26.  21.  42.  68.  53.  36.  92.  74.
  32.  58.  28.  33.  23.  38. 111.  24.  90.  41.  39.  79.  84.  51.
  72. 113.  49.  35.  99. 123.  60.]
-----------------------------------------------------------------------------
length is : 63

In [68]:
dataExploit('A', 12)

for Catagory 'A' data frame looks like below
-----------------------------------------------------------------------------
    A.1  A.2  A.3   A.4  A.5  A.6  A.7  A.8  A.9  A.10  A.11
0   2.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  12.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   3.0  0.0  3.0  14.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3   3.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   5.0  0.0  7.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8   1.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [69]:
dataExploit('B', 12)

for Catagory 'B' data frame looks like below
-----------------------------------------------------------------------------
    B.1  B.2   B.3   B.4  B.5  B.6  B.7  B.8  B.9  B.10  B.11
0   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1   2.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   5.0  0.0   3.0  12.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  13.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   1.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   2.0  0.0  12.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  11.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [70]:
dataExploit('C', 12)

for Catagory 'C' data frame looks like below
-----------------------------------------------------------------------------
   C.1  C.2  C.3  C.4  C.5  C.6  C.7  C.8  C.9  C.10  C.11
0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2  2.0  0.0  3.0  2.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  3.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  6.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6  0.0  0.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [71]:

input_cols = ["A.", "A", "B", "C"]
output_cols = [x+".papers" for x in input_cols]

for inp, outp in zip(input_cols, output_cols):
    interest_cols = [inp+".%d" % x for x in range(1,16)]
    team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [72]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers
0        4.0       2.0       0.0       0.0
1        6.0      12.0       2.0       2.0
2        7.0      20.0      20.0       7.0
3        0.0       3.0      13.0       3.0
4        3.0       0.0       1.0       0.0
5        7.0      27.0      27.0       6.0
6        8.0      12.0      14.0       4.0
7        0.0       0.0       0.0       0.0
8        8.0       1.0      11.0       0.0
9        1.0       0.0       0.0       0.0
-----------------------------------------------------------------------------

In [73]:
dataExploit("Country.of.Birth", 5)
FindUniqueValues("Country.of.Birth.1")

for Catagory 'Country.of.Birth' data frame looks like below
-----------------------------------------------------------------------------
  Country.of.Birth.1 Country.of.Birth.2 Country.of.Birth.3 Country.of.Birth.4
0       Asia Pacific                NaN                NaN                NaN
1          Australia                NaN                NaN                NaN
2          Australia          Australia       Asia Pacific          Australia
3          Australia          Australia                NaN                NaN
4     Western Europe                NaN                NaN                NaN
5          Australia                NaN                NaN                NaN
6          Australia          Australia      Great Britain                NaN
7          Australia          Australia                NaN                NaN
8          Australia          Australia                NaN                NaN
9                NaN                NaN                NaN                NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Asia Pacific' 'Australia' 'Western Europe' nan 'North America'
 'Great Britain' 'New Zealand' 'The Americas' 'Eastern Europe'
 'South Africa' 'Middle East and Africa']
-----------------------------------------------------------------------------
length is : 11

In [74]:
inp = "Country.of.Birth"
outp = "Dif.countries"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

outp = "Perc_non_australian" # From 0 to 1
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_perc(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    australian = len([elem for elem in x if elem == "Australia"])
    return australian/float(total)
    
team_df[outp] = df[interest_cols].apply(compute_perc, axis =1)

In [75]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  Perc_non_australian
0        4.0       2.0       0.0       0.0              1             0.000000
1        6.0      12.0       2.0       2.0              1             1.000000
2        7.0      20.0      20.0       7.0              2             0.750000
3        0.0       3.0      13.0       3.0              1             1.000000
4        3.0       0.0       1.0       0.0              1             0.000000
5        7.0      27.0      27.0       6.0              1             1.000000
6        8.0      12.0      14.0       4.0              2             0.666667
7        0.0       0.0       0.0       0.0              1             1.000000
8        8.0       1.0      11.0       0.0              1             1.000000
9        1.0       0.0       0.0       0.0              0             0.000000
-----------------------------------------------------------------------------

In [76]:
dataExploit("Person.ID", 5)

for Catagory 'Person.ID' data frame looks like below
-----------------------------------------------------------------------------
   Person.ID.1  Person.ID.2  Person.ID.3  Person.ID.4
0      40572.0          NaN          NaN          NaN
1       9067.0          NaN          NaN          NaN
2       5967.0      27307.0      79652.0      11667.0
3      78782.0      55337.0          NaN          NaN
4      13042.0          NaN          NaN          NaN
5     301472.0          NaN          NaN          NaN
6      74292.0      82602.0      79742.0          NaN
7       1642.0      70212.0          NaN          NaN
8       1012.0      80197.0          NaN          NaN
9      89462.0          NaN          NaN          NaN
-----------------------------------------------------------------------------

In [77]:
inp = "Person.ID"
outp = "Number.people"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [78]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people
0             0.000000              1
1             1.000000              1
2             0.750000              4
3             1.000000              2
4             0.000000              1
5             1.000000              1
6             0.666667              3
7             1.000000              2
8             1.000000              2
9             0.000000              1
-----------------------------------------------------------------------------

In [79]:
dataExploit("With.PHD", 7)
FindUniqueValues("With.PHD.1")

for Catagory 'With.PHD' data frame looks like below
-----------------------------------------------------------------------------
  With.PHD.1 With.PHD.2 With.PHD.3 With.PHD.4 With.PHD.5 With.PHD.6
0        NaN        NaN        NaN        NaN        NaN        NaN
1       Yes         NaN        NaN        NaN        NaN        NaN
2       Yes         NaN       Yes         NaN        NaN        NaN
3       Yes        Yes         NaN        NaN        NaN        NaN
4       Yes         NaN        NaN        NaN        NaN        NaN
5       Yes         NaN        NaN        NaN        NaN        NaN
6       Yes        Yes         NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN        NaN        NaN
8       Yes        Yes         NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN        NaN        NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[nan 'Yes ']
-----------------------------------------------------------------------------
length is : 2

In [80]:
inp =  'With.PHD'
outp = "PHD"
interest_cols = [inp+".%d" % x for x in range(1,16)]
aux = df[interest_cols].replace({"Yes ": 1, np.nan: 0, "No": 0, "yes":1})
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [81]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD
0             0.000000              1  0.0
1             1.000000              1  1.0
2             0.750000              4  2.0
3             1.000000              2  2.0
4             0.000000              1  1.0
5             1.000000              1  1.0
6             0.666667              3  2.0
7             1.000000              2  0.0
8             1.000000              2  2.0
9             0.000000              1  0.0
-----------------------------------------------------------------------------

In [82]:
dataExploit("No..of.Years.in.Uni.at.Time.of.Grant", 2)
FindUniqueValues("No..of.Years.in.Uni.at.Time.of.Grant.1")

for Catagory 'No..of.Years.in.Uni.at.Time.of.Grant' data frame looks like below
-----------------------------------------------------------------------------
  No..of.Years.in.Uni.at.Time.of.Grant.1
0                            Less than 0
1                           more than 15
2                               >5 to 10
3                               >5 to 10
4                               >5 to 10
5                               >=0 to 5
6                              >10 to 15
7                                    NaN
8                               >5 to 10
9                                    NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Less than 0' 'more than 15' '>5 to 10' '>=0 to 5' '>10 to 15' nan]
-----------------------------------------------------------------------------
length is : 6

In [83]:
# NaN          --> 0
# Less than 0  --> 0
# >=0 to 5     --> 5
# >5 to 10     --> 10
# >10 to 15    --> 15
# more than 15 --> 20


inp =  "No..of.Years.in.Uni.at.Time.of.Grant" 
outp = "Max.years.univ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
categories_of_years = pd.Series(df[interest_cols].values.ravel()).unique()
year_converter = dict(zip(categories_of_years, [0, 0, 20, 10, 5, 15]))

aux = df[interest_cols].replace(year_converter)
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [84]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ
0             0.000000              1  0.0             0.0
1             1.000000              1  1.0            20.0
2             0.750000              4  2.0            50.0
3             1.000000              2  2.0            15.0
4             0.000000              1  1.0            10.0
5             1.000000              1  1.0             5.0
6             0.666667              3  2.0            30.0
7             1.000000              2  0.0             0.0
8             1.000000              2  2.0            20.0
9             0.000000              1  0.0             0.0
-----------------------------------------------------------------------------

In [85]:
dataExploit('Number.of.Successful.Grant', 3)
FindUniqueValues('Number.of.Successful.Grant.1')
dataExploit('Number.of.Unsuccessful.Grant', 3)
FindUniqueValues('Number.of.Unsuccessful.Grant.1')

for Catagory 'Number.of.Successful.Grant' data frame looks like below
-----------------------------------------------------------------------------
   Number.of.Successful.Grant.1  Number.of.Successful.Grant.2
0                           0.0                           NaN
1                           0.0                           NaN
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           NaN
5                           2.0                           NaN
6                           0.0                           0.0
7                           0.0                           0.0
8                           0.0                           2.0
9                           0.0                           NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[ 0.  2.  1.  3. nan  4.  5.  6.  7.  8.  9. 11. 12. 10. 13.]
-----------------------------------------------------------------------------
length is : 15
for Catagory 'Number.of.Unsuccessful.Grant' data frame looks like below
-----------------------------------------------------------------------------
   Number.of.Unsuccessful.Grant.1  Number.of.Unsuccessful.Grant.2
0                             0.0                             NaN
1                             0.0                             NaN
2                             0.0                             0.0
3                             0.0                             0.0
4                             0.0                             NaN
5                             0.0                             NaN
6                             0.0                             1.0
7                             3.0                             0.0
8                             0.0                             1.0
9                             0.0                             NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[ 0.  3.  7.  1.  4.  5.  2.  6. nan  9.  8. 11. 10. 12. 13. 14. 17. 15.
 18. 19. 20. 22. 23. 24. 16. 21. 25. 26.]
-----------------------------------------------------------------------------
length is : 28

In [86]:
inp =  'Number.of.Successful.Grant'
outp = "Grants.succ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

inp =  "Number.of.Unsuccessful.Grant"
outp = "Grants.unsucc"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [87]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5            0.0
6            1.0
7            3.0
8            1.0
9            0.0
-----------------------------------------------------------------------------

In [88]:
dataExploit("Dept.No.", 5)

for Catagory 'Dept.No.' data frame looks like below
-----------------------------------------------------------------------------
   Dept.No..1  Dept.No..2  Dept.No..3  Dept.No..4
0      3073.0         NaN         NaN         NaN
1      2538.0         NaN         NaN         NaN
2      2923.0      2923.0      2498.0      2548.0
3      2678.0      2678.0         NaN         NaN
4      2153.0         NaN         NaN         NaN
5      2533.0         NaN         NaN         NaN
6      3028.0      3028.0      3028.0         NaN
7      2563.0      2563.0         NaN         NaN
8      3123.0      3123.0         NaN         NaN
9         NaN         NaN         NaN         NaN
-----------------------------------------------------------------------------

In [89]:
inp =  "Dept.No."
outp = "Departments"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [90]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments
0            0.0            1
1            0.0            1
2            0.0            3
3            0.0            1
4            0.0            1
5            0.0            1
6            1.0            1
7            3.0            1
8            1.0            1
9            0.0            0
-----------------------------------------------------------------------------

In [91]:
dataExploit("Home.Language", 5)
FindUniqueValues("Home.Language.1")

for Catagory 'Home.Language' data frame looks like below
-----------------------------------------------------------------------------
  Home.Language.1 Home.Language.2 Home.Language.3 Home.Language.4
0           Other             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN
5             NaN             NaN             NaN             NaN
6             NaN             NaN             NaN             NaN
7             NaN             NaN             NaN             NaN
8         English         English             NaN             NaN
9             NaN             NaN             NaN             NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Other' nan 'English']
-----------------------------------------------------------------------------
length is : 3

In [92]:
inp = "Home.Language"
outp = "Perc.Lang.Eng"  
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_eng_perc(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    eng_use = len([elem for elem in x if elem == "English"])

    return eng_use/float(total)

def compute_other_perc(x) : 
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    other_use = len([elem for elem in x if elem == "Other"])
    return other_use/float(total)

team_df[outp] = df[interest_cols].apply(compute_eng_perc, axis =1)

outp = "Perc.Lang.Other" 
team_df[outp] = df[interest_cols].apply(compute_other_perc, axis =1)

In [93]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other
0            0.0            1            0.0              1.0
1            0.0            1            0.0              0.0
2            0.0            3            0.0              0.0
3            0.0            1            0.0              0.0
4            0.0            1            0.0              0.0
5            0.0            1            0.0              0.0
6            1.0            1            0.0              0.0
7            3.0            1            0.0              0.0
8            1.0            1            1.0              0.0
9            0.0            0            0.0              0.0
-----------------------------------------------------------------------------

In [94]:
dataExploit('Role',4 )
FindUniqueValues("Role.1")

for Catagory 'Role' data frame looks like below
-----------------------------------------------------------------------------
                 Role.1                  Role.2                  Role.3
0    CHIEF_INVESTIGATOR                     NaN                     NaN
1    CHIEF_INVESTIGATOR                     NaN                     NaN
2    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR
3  PRINCIPAL_SUPERVISOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
4    CHIEF_INVESTIGATOR                     NaN                     NaN
5    CHIEF_INVESTIGATOR                     NaN                     NaN
6    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR
7    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
8    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
9    CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['CHIEF_INVESTIGATOR' 'PRINCIPAL_SUPERVISOR' 'DELEGATED_RESEARCHER'
 'EXT_CHIEF_INVESTIGATOR' nan 'STUD_CHIEF_INVESTIGATOR' 'HONVISIT'
 'EXTERNAL_ADVISOR']
-----------------------------------------------------------------------------
length is : 8

In [95]:
# TODO : role preprocessing
inp = "Role"  
outp = "Dif.Role"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

outp = "Perc.CHIEF.INVESTIGATOR" # From 0 to 1
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_perc_chief(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    chief = len([elem for elem in x if elem == "CHIEF_INVESTIGATOR"])
    return chief/float(total)
    
team_df[outp] = df[interest_cols].apply(compute_perc_chief, axis =1)

In [96]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  \
0            0.0            1            0.0              1.0         1
1            0.0            1            0.0              0.0         1
2            0.0            3            0.0              0.0         3
3            0.0            1            0.0              0.0         4
4            0.0            1            0.0              0.0         1
5            0.0            1            0.0              0.0         1
6            1.0            1            0.0              0.0         2
7            3.0            1            0.0              0.0         2
8            1.0            1            1.0              0.0         2
9            0.0            0            0.0              0.0         2

   Perc.CHIEF.INVESTIGATOR
0                 1.000000
1                 1.000000
2                 0.428571
3                 0.166667
4                 1.000000
5                 1.000000
6                 0.750000
7                 0.666667
8                 0.500000
9                 0.250000
-----------------------------------------------------------------------------

In [97]:
dataExploit('Year.of.Birth',4 )
FindUniqueValues("Year.of.Birth.1")

for Catagory 'Year.of.Birth' data frame looks like below
-----------------------------------------------------------------------------
   Year.of.Birth.1  Year.of.Birth.2  Year.of.Birth.3
0           1965.0              NaN              NaN
1           1960.0              NaN              NaN
2           1955.0           1950.0           1950.0
3           1955.0           1975.0              NaN
4           1965.0              NaN              NaN
5           1950.0              NaN              NaN
6           1960.0           1960.0           1950.0
7           1965.0           1940.0              NaN
8           1945.0           1950.0              NaN
9           1930.0              NaN              NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[1965. 1960. 1955. 1950. 1945. 1930. 1970. 1975. 1940. 1935.   nan 1980.
 1925. 1985.]
-----------------------------------------------------------------------------
length is : 14

In [98]:
inp =  'Year.of.Birth'
outp = "Average.Age"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nanmean(2017-x), axis =1)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: Mean of empty slice
  after removing the cwd from sys.path.

In [99]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  \
0            0.0            1            0.0              1.0         1
1            0.0            1            0.0              0.0         1
2            0.0            3            0.0              0.0         3
3            0.0            1            0.0              0.0         4
4            0.0            1            0.0              0.0         1
5            0.0            1            0.0              0.0         1
6            1.0            1            0.0              0.0         2
7            3.0            1            0.0              0.0         2
8            1.0            1            1.0              0.0         2
9            0.0            0            0.0              0.0         2

   Perc.CHIEF.INVESTIGATOR  Average.Age
0                 1.000000    52.000000
1                 1.000000    57.000000
2                 0.428571    65.750000
3                 0.166667    52.000000
4                 1.000000    52.000000
5                 1.000000    67.000000
6                 0.750000    60.333333
7                 0.666667    64.500000
8                 0.500000    69.500000
9                 0.250000    87.000000
-----------------------------------------------------------------------------

In [100]:
dataExploit('RFCD.Code', 6)

df['RFCD.Code.DIV.1'] = df['RFCD.Code.1'] // 10000
FindUniqueValues('RFCD.Code.DIV.1')

for Catagory 'RFCD.Code' data frame looks like below
-----------------------------------------------------------------------------
   RFCD.Code.1  RFCD.Code.2  RFCD.Code.3  RFCD.Code.4  RFCD.Code.5
0     280199.0          0.0          0.0          0.0          0.0
1     280103.0     280106.0     280203.0          0.0          0.0
2     321004.0     321216.0          0.0          0.0          0.0
3     270602.0     320602.0          0.0          0.0          0.0
4     260500.0     280000.0     290000.0          0.0          0.0
5     321204.0          0.0          0.0          0.0          0.0
6     270708.0     270203.0     270401.0          0.0          0.0
7     321405.0          0.0          0.0          0.0          0.0
8     260108.0     260109.0          0.0          0.0          0.0
9     270708.0     270704.0     270203.0          0.0          0.0
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[28. 32. 27. 26. 23. 29. 30. 38. 37. 33. nan 35. 40. 42. 21. 24. 25. 36.
 39. 34. 31. 44. 41. 43. 99.]
-----------------------------------------------------------------------------
length is : 25

In [101]:
################# TEAM FEATURE PREPROCESSING COMPLETED ###################

In [102]:
## DATE -> WEEKDAY, MONTH, DAY&MONTH(1~365), DAY of MONTH(1~31), SEASON


df['Start.date'] = pd.to_datetime(df['Start.date'])

def get_weekday(x) : 
    return x.weekday()

def get_month(x) : 
    return x.month

def get_day(x) : 
    return x.day

def get_days_of_month(x, leap) : 
    if (x == 1) | (x == 3) | (x == 5) | (x == 7) | (x == 8) | (x == 10) | (x == 12) : 
        return 31
    elif (x == 2) & (leap == 1) :
        return 29
    elif (x == 2) & (leap == 0) : 
        return 28
    elif (x == 4) | (x == 6) | (x == 9) | (x == 11) : 
        return 30
    else : 
        return 0


def get_day_and_month(x) : 
    month = get_month(x)
    day_and_month = 0
    year = x.year
    if year == 2008 : 
        leap = 1
    else : 
        leap = 0
    
    for i in range (month) : 
        day_and_month += get_days_of_month(i, leap)
    day_and_month += get_day(x)
    
    return day_and_month


def get_season(x) : 
    return x.quarter

In [103]:
    
team_df['Weekday'] = df['Start.date'].apply(get_weekday)
team_df['Month'] = df['Start.date'].apply(get_month)
team_df['Day.of.Month'] = df['Start.date'].apply(get_day)
team_df['Day.of.Year'] = df['Start.date'].apply(get_day_and_month)
team_df['Season'] = df['Start.date'].apply(get_season)

In [104]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

    ...    Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  Perc.CHIEF.INVESTIGATOR  \
0   ...              0.0              1.0         1                 1.000000
1   ...              0.0              0.0         1                 1.000000
2   ...              0.0              0.0         3                 0.428571
3   ...              0.0              0.0         4                 0.166667
4   ...              0.0              0.0         1                 1.000000
5   ...              0.0              0.0         1                 1.000000
6   ...              0.0              0.0         2                 0.750000
7   ...              0.0              0.0         2                 0.666667
8   ...              1.0              0.0         2                 0.500000
9   ...              0.0              0.0         2                 0.250000

   Average.Age  Weekday  Month  Day.of.Month  Day.of.Year  Season
0    52.000000        3      8            11          223       3
1    57.000000        4     11            11          315       4
2    65.750000        0     11            14          318       4
3    52.000000        1     11            15          319       4
4    52.000000        2     11            16          320       4
5    67.000000        5     11            19          323       4
6    60.333333        5     11            19          323       4
7    64.500000        5     11            19          323       4
8    69.500000        5     11            19          323       4
9    87.000000        5     11            19          323       4

[10 rows x 22 columns]
-----------------------------------------------------------------------------

In [105]:
dataExploit("Sponsor.Code", 0)
FindUniqueValues("Sponsor.Code")

for Catagory 'Sponsor.Code' data frame looks like below
-----------------------------------------------------------------------------
  Sponsor.Code
0          NaN
1           2B
2          29A
3          40D
4          59C
5           4D
6           2B
7          28D
8           2B
9           2B
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[nan '2B' '29A' '40D' '59C' '4D' '28D' '136D' '100D' '1A' '21A' '24D'
 '148D' '12D' '62B' '138B' '60D' '143C' '90B' '18B' '89A' '34B' '47C'
 '36D' '32D' '172D' '184D' '5A' '63C' '74B' '6B' '170B' '166B' '101A'
 '33A' '164D' '75C' '161A' '157A' '9A' '126B' '149A' '53A' '94B' '97A'
 '160D' '51C' '167C' '135C' '65A' '42B' '87C' '169A' '95C' '103C' '147C'
 '133A' '150B' '155C' '174B' '83C' '175C' '139C' '202B' '13A' '168D'
 '113A' '134B' '20D' '141A' '80D' '91C' '187C' '26B' '162B' '93A' '84D'
 '158B' '55C' '77A' '429A' '140D' '23C' '142B' '112D' '111C' '154B' '185A'
 '151C' '3C' '428D' '137A' '37A' '146B' '176D' '145A' '85A' '14B' '69A'
 '41A' '427C' '49A' '7C' '44D' '163C' '144D' '177A' '39C' '153A' '173A'
 '159C' '178B' '156D' '186B' '152D' '171C' '201A' '182B' '183C' '52D'
 '132D' '219C' '227C' '56D' '73A' '107C' '224D' '188D' '229A' '230B'
 '210B' '430B' '86B' '179C' '234B' '198B' '305A' '199C' '200D' '191C'
 '238B' '222B' '223C' '54B' '196D' '216D' '120D' '190B' '189A' '214B'
 '215C' '237A' '233A' '38B' '82B' '66B' '194B' '225A' '212D' '208D' '180D'
 '68D' '211C' '203C' '192D' '228D' '205A' '213A' '130B' '48D' '206B'
 '207C' '72D' '27C' '251C' '204D' '193A' '195C' '239C' '67C' '217A' '218B'
 '226B' '431C' '232D' '197A' '165A' '247C' '220D' '221A' '245A' '282B'
 '11C' '250B' '252D' '292D' '235C' '105A' '242B' '240D' '243C' '15C'
 '244D' '246B' '278B' '241A' '270B' '277A' '275C' '295C' '372D' '284D'
 '258B' '297A' '256D' '255C' '289A' '286B' '280D' '253A' '276D' '128D'
 '433A' '81A' '298B' '78B' '435C' '285A' '339C' '288D' '294B' '325A'
 '300D' '287C' '296D' '266B' '265A' '268D' '302B' '257A' '263C' '269A'
 '434B' '16D' '432D' '279C' '272D' '274B' '271C' '267C' '262B' '373A'
 '259C' '260D' '261A' '281A' '309A' '308D' '304D' '303C' '307C' '310B'
 '326B' '316D' '273A' '436D' '314B' '346B' '324D' '318B' '313A' '312D'
 '311C' '315C' '437A' '118B' '299C' '330B' '319C' '328D' '331C' '334B'
 '317A' '323C' '347C' '415C' '58B' '374B' '362B' '363C' '342B' '357A'
 '370B' '371C' '290B' '349A' '10B' '329A']
-----------------------------------------------------------------------------
length is : 298

In [106]:
dataExploit("Grant.Category.Code", 0)
FindUniqueValues("Grant.Category.Code")

for Catagory 'Grant.Category.Code' data frame looks like below
-----------------------------------------------------------------------------
  Grant.Category.Code
0                 NaN
1                 10A
2                 10B
3                 10B
4                 10A
5                 10A
6                 10A
7                 30B
8                 10A
9                 10A
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[nan '10A' '10B' '30B' '50A' '30D' '30G' '20C' '30C' '20A' '30E' '40C'
 '30A' '30F']
-----------------------------------------------------------------------------
length is : 14

In [109]:
dataExploit("Contract.Value.Band...see.note.A", 0)
FindUniqueValues("Contract.Value.Band...see.note.A")

for Catagory 'Contract.Value.Band...see.note.A' data frame looks like below
-----------------------------------------------------------------------------
  Contract.Value.Band...see.note.A
0                               A
1                               B
2                               A
3                               C
4                               A
5                              NaN
6                              NaN
7                               A
8                               H
9                              NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['A ' 'B ' 'C ' nan 'H ' 'G ' 'F ' 'D ' 'E ' 'K ' 'I ' 'Q ' 'L ' 'P ' 'J '
 'M ' 'O ']
-----------------------------------------------------------------------------
length is : 17

In [122]:
def substring_to_int(x) : 
    if np.isnan(x) : 
        return 0
    else : 
        return int (x / 10000)

df["RFCD.Code.1"] = df["RFCD.Code.1"].apply(substring_to_int)
df["RFCD.Code.2"] = df["RFCD.Code.2"].apply(substring_to_int)
df["RFCD.Code.3"] = df["RFCD.Code.3"].apply(substring_to_int)
df["RFCD.Code.4"] = df["RFCD.Code.4"].apply(substring_to_int)
df["RFCD.Code.5"] = df["RFCD.Code.5"].apply(substring_to_int)


dataExploit("RFCD.Code", 5)
FindUniqueValues("RFCD.Code.1")

for Catagory 'RFCD.Code' data frame looks like below
-----------------------------------------------------------------------------
   RFCD.Code.1  RFCD.Code.2  RFCD.Code.3  RFCD.Code.4
0           28            0            0            0
1           28           28           28            0
2           32           32            0            0
3           27           32            0            0
4           26           28           29            0
5           32            0            0            0
6           27           27           27            0
7           32            0            0            0
8           26           26            0            0
9           27           27           27            0
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[28 32 27 26 23 29 30 38 37 33  0 35 40 42 21 24 25 36 39 34 31 44 41 43
 99]
-----------------------------------------------------------------------------
length is : 25

0       28
1       28
2       32
3       27
4       26
5       32
6       27
7       32
8       26
9       27
10      23
11      27
12      32
13      29
14      28
15      32
16      27
17      30
18      30
19      38
20      27
21      37
22      32
23      29
24      33
25       0
26       0
27      27
28      27
29      35
        ..
8678    32
8679    27
8680    27
8681    32
8682    32
8683    43
8684    28
8685    32
8686    32
8687    25
8688    27
8689    32
8690    32
8691    32
8692    27
8693    32
8694    33
8695    27
8696    27
8697     0
8698    32
8699    32
8700    27
8701    27
8702     0
8703    32
8704    34
8705     0
8706    28
8707    32
Name: RFCD.Code.1, Length: 8708, dtype: int64

In [125]:
df["SEO.Code.1"] = df["SEO.Code.1"].apply(substring_to_int)
df["SEO.Code.2"] = df["SEO.Code.2"].apply(substring_to_int)
df["SEO.Code.3"] = df["SEO.Code.3"].apply(substring_to_int)
df["SEO.Code.4"] = df["SEO.Code.4"].apply(substring_to_int)
df["SEO.Code.5"] = df["SEO.Code.5"].apply(substring_to_int)

dataExploit("SEO.Code", 6)
FindUniqueValues("SEO.Code.1")

for Catagory 'SEO.Code' data frame looks like below
-----------------------------------------------------------------------------
   SEO.Code.1  SEO.Code.2  SEO.Code.3  SEO.Code.4  SEO.Code.5
0          70           0           0           0           0
1          70          70           0           0           0
2          73          73           0           0           0
3          73          73           0           0           0
4          77           0           0           0           0
5          73           0           0           0           0
6          77          77           0           0           0
7          73           0           0           0           0
8          78           0           0           0           0
9          77          77           0           0           0
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[70 73 77 78 74 75 67  0 72 63 62 68 71 69 65 64 61 76 66 99]
-----------------------------------------------------------------------------
length is : 20

In [130]:
FindUniqueValues("RFCD.Code.3")

Unique Values are like
-----------------------------------------------------------------------------
[ 0 28 29 27 32 37 26 38 30 40 39 25 24 36 31 41 42 23 33 35 34 43 44]
-----------------------------------------------------------------------------
length is : 23

In [135]:
x_df = df.groupby(['Sponsor.Code'])["Grant.Category.Code"].agg(['count'])

x_df

              count
Sponsor.Code
100D             11
101A             18
103C              9
105A              6
107C              2
10B               1
111C              6
112D             13
113A             10
118B              2
11C               2
120D              6
126B             22
128D              1
12D               8
130B              3
132D              8
133A              9
134B              1
135C              8
136D              9
137A             24
138B              5
139C              2
13A               7
140D              1
141A             11
142B              1
143C              9
144D              5
...             ...
63C              23
65A              36
66B              15
67C              16
68D              20
69A               9
6B               71
72D               2
73A              13
74B               1
75C              53
77A              31
78B               7
7C               41
80D               3
81A               3
82B               3
83C              24
84D              18
85A               4
86B               9
87C              13
89A              37
90B              28
91C               6
93A               5
94B               5
95C              13
97A              82
9A               21

[297 rows x 1 columns]

In [136]:
df[df['Sponsor.Code'] == '100D']

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251,RFCD.Code.DIV.1
15,16,0,100D,10B,NaN,2005-11-19,32,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0
835,836,0,100D,10B,NaN,2005-11-19,0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1552,1,100D,30C,B,2006-06-02,32,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0
1738,1739,1,100D,30C,B,2006-03-28,32,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0
4395,4396,1,100D,30B,C,2007-01-02,27,25.0,29,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0
4461,4462,1,100D,10B,D,2007-12-02,28,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
4544,4545,1,100D,30B,C,2007-03-21,27,25.0,29,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0
5733,5734,0,100D,10B,C,2007-05-09,32,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0
6770,6771,1,100D,30C,D,2008-02-20,32,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0
6782,6783,1,100D,10B,D,2008-01-03,32,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0
7812,7813,0,100D,10B,D,2008-08-26,32,100.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0