In [106]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/unimelb_training.csv', low_memory = False)
df.head(5)

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:

team_df = pd.DataFrame()

In [136]:
def dataExploit(columnName, max_range) : 
    print("for Catagory '{0}'".format(columnName))
    print('-----------------------------------------------------------------------------')
    inp =  columnName
    interest_cols = [inp+".%d" % x for x in range(1,max_range)]
    data_df = df[interest_cols]
    print(data_df.head(50))

In [109]:
def printOutputData() : 
    print("Output Result")
    print('-----------------------------------------------------------------------------')
    print(team_df.head(10))

In [110]:
dataExploit('A.',12)

for Catagory 'A.'
-----------------------------------------------------------------------------
   A..1  A..2  A..3  A..4  A..5  A..6  A..7  A..8  A..9  A..10  A..11
0   4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
1   6.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
2   0.0   0.0   1.0   6.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN
3   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
4   3.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
5   7.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
6   8.0   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
7   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
8   8.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
9   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN

In [111]:
dataExploit('A', 12)

for Catagory 'A'
-----------------------------------------------------------------------------
    A.1  A.2  A.3   A.4  A.5  A.6  A.7  A.8  A.9  A.10  A.11
0   2.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  12.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   3.0  0.0  3.0  14.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3   3.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   5.0  0.0  7.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8   1.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN

In [112]:
dataExploit('B', 12)

for Catagory 'B'
-----------------------------------------------------------------------------
    B.1  B.2   B.3   B.4  B.5  B.6  B.7  B.8  B.9  B.10  B.11
0   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1   2.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   5.0  0.0   3.0  12.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  13.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   1.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   2.0  0.0  12.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  11.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN

In [113]:
dataExploit('C', 12)

for Catagory 'C'
-----------------------------------------------------------------------------
   C.1  C.2  C.3  C.4  C.5  C.6  C.7  C.8  C.9  C.10  C.11
0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2  2.0  0.0  3.0  2.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  3.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  6.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6  0.0  0.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN

In [114]:

input_cols = ["A.", "A", "B", "C"]
output_cols = [x+".papers" for x in input_cols]

for inp, outp in zip(input_cols, output_cols):
    interest_cols = [inp+".%d" % x for x in range(1,16)]
    team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [115]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers
0        4.0       2.0       0.0       0.0
1        6.0      12.0       2.0       2.0
2        7.0      20.0      20.0       7.0
3        0.0       3.0      13.0       3.0
4        3.0       0.0       1.0       0.0
5        7.0      27.0      27.0       6.0
6        8.0      12.0      14.0       4.0
7        0.0       0.0       0.0       0.0
8        8.0       1.0      11.0       0.0
9        1.0       0.0       0.0       0.0

In [116]:
dataExploit("Country.of.Birth", 5)

for Catagory 'Country.of.Birth'
-----------------------------------------------------------------------------
  Country.of.Birth.1 Country.of.Birth.2 Country.of.Birth.3 Country.of.Birth.4
0       Asia Pacific                NaN                NaN                NaN
1          Australia                NaN                NaN                NaN
2          Australia          Australia       Asia Pacific          Australia
3          Australia          Australia                NaN                NaN
4     Western Europe                NaN                NaN                NaN
5          Australia                NaN                NaN                NaN
6          Australia          Australia      Great Britain                NaN
7          Australia          Australia                NaN                NaN
8          Australia          Australia                NaN                NaN
9                NaN                NaN                NaN                NaN

In [117]:
inp = "Country.of.Birth"
outp = "Dif.countries"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

outp = "Perc_non_australian" # From 0 to 1
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_perc(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    australian = len([elem for elem in x if elem == "Australia"])
    return australian/float(total)
    
team_df[outp] = df[interest_cols].apply(compute_perc, axis =1)

In [118]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  Perc_non_australian
0        4.0       2.0       0.0       0.0              1             0.000000
1        6.0      12.0       2.0       2.0              1             1.000000
2        7.0      20.0      20.0       7.0              2             0.750000
3        0.0       3.0      13.0       3.0              1             1.000000
4        3.0       0.0       1.0       0.0              1             0.000000
5        7.0      27.0      27.0       6.0              1             1.000000
6        8.0      12.0      14.0       4.0              2             0.666667
7        0.0       0.0       0.0       0.0              1             1.000000
8        8.0       1.0      11.0       0.0              1             1.000000
9        1.0       0.0       0.0       0.0              0             0.000000

In [119]:
dataExploit("Person.ID", 5)

for Catagory 'Person.ID'
-----------------------------------------------------------------------------
   Person.ID.1  Person.ID.2  Person.ID.3  Person.ID.4
0      40572.0          NaN          NaN          NaN
1       9067.0          NaN          NaN          NaN
2       5967.0      27307.0      79652.0      11667.0
3      78782.0      55337.0          NaN          NaN
4      13042.0          NaN          NaN          NaN
5     301472.0          NaN          NaN          NaN
6      74292.0      82602.0      79742.0          NaN
7       1642.0      70212.0          NaN          NaN
8       1012.0      80197.0          NaN          NaN
9      89462.0          NaN          NaN          NaN

In [120]:
inp = "Person.ID"
outp = "Number.people"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [121]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people
0             0.000000              1
1             1.000000              1
2             0.750000              4
3             1.000000              2
4             0.000000              1
5             1.000000              1
6             0.666667              3
7             1.000000              2
8             1.000000              2
9             0.000000              1

In [122]:
dataExploit("With.PHD", 7)

for Catagory 'With.PHD'
-----------------------------------------------------------------------------
  With.PHD.1 With.PHD.2 With.PHD.3 With.PHD.4 With.PHD.5 With.PHD.6
0        NaN        NaN        NaN        NaN        NaN        NaN
1       Yes         NaN        NaN        NaN        NaN        NaN
2       Yes         NaN       Yes         NaN        NaN        NaN
3       Yes        Yes         NaN        NaN        NaN        NaN
4       Yes         NaN        NaN        NaN        NaN        NaN
5       Yes         NaN        NaN        NaN        NaN        NaN
6       Yes        Yes         NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN        NaN        NaN
8       Yes        Yes         NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN        NaN        NaN

In [123]:
inp =  'With.PHD'
outp = "PHD"
interest_cols = [inp+".%d" % x for x in range(1,16)]
aux = df[interest_cols].replace({"Yes ": 1, np.nan: 0, "No": 0, "yes":1})
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [124]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD
0             0.000000              1  0.0
1             1.000000              1  1.0
2             0.750000              4  2.0
3             1.000000              2  2.0
4             0.000000              1  1.0
5             1.000000              1  1.0
6             0.666667              3  2.0
7             1.000000              2  0.0
8             1.000000              2  2.0
9             0.000000              1  0.0

In [125]:
dataExploit("No..of.Years.in.Uni.at.Time.of.Grant", 2)

for Catagory 'No..of.Years.in.Uni.at.Time.of.Grant'
-----------------------------------------------------------------------------
  No..of.Years.in.Uni.at.Time.of.Grant.1
0                            Less than 0
1                           more than 15
2                               >5 to 10
3                               >5 to 10
4                               >5 to 10
5                               >=0 to 5
6                              >10 to 15
7                                    NaN
8                               >5 to 10
9                                    NaN

In [126]:
# NaN          --> 0
# Less than 0  --> 0
# >=0 to 5     --> 5
# >5 to 10     --> 10
# >10 to 15    --> 15
# more than 15 --> 20


inp =  "No..of.Years.in.Uni.at.Time.of.Grant" 
outp = "Max.years.univ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
categories_of_years = pd.Series(df[interest_cols].values.ravel()).unique()
year_converter = dict(zip(categories_of_years, [0, 0, 20, 10, 5, 15]))

aux = df[interest_cols].replace(year_converter)
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [127]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ
0             0.000000              1  0.0             0.0
1             1.000000              1  1.0            20.0
2             0.750000              4  2.0            50.0
3             1.000000              2  2.0            15.0
4             0.000000              1  1.0            10.0
5             1.000000              1  1.0             5.0
6             0.666667              3  2.0            30.0
7             1.000000              2  0.0             0.0
8             1.000000              2  2.0            20.0
9             0.000000              1  0.0             0.0

In [128]:
dataExploit('Number.of.Successful.Grant', 3)
dataExploit('Number.of.Unsuccessful.Grant', 3)

for Catagory 'Number.of.Successful.Grant'
-----------------------------------------------------------------------------
   Number.of.Successful.Grant.1  Number.of.Successful.Grant.2
0                           0.0                           NaN
1                           0.0                           NaN
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           NaN
5                           2.0                           NaN
6                           0.0                           0.0
7                           0.0                           0.0
8                           0.0                           2.0
9                           0.0                           NaN
for Catagory 'Number.of.Unsuccessful.Grant'
-----------------------------------------------------------------------------
   Number.of.Unsuccessful.Grant.1  Number.of.Unsuccessful.Grant.2
0                             0.0                             NaN
1                             0.0                             NaN
2                             0.0                             0.0
3                             0.0                             0.0
4                             0.0                             NaN
5                             0.0                             NaN
6                             0.0                             1.0
7                             3.0                             0.0
8                             0.0                             1.0
9                             0.0                             NaN

In [129]:
inp =  'Number.of.Successful.Grant'
outp = "Grants.succ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

# Get the number of unsuccessful grants per team
inp =  "Number.of.Unsuccessful.Grant"
outp = "Grants.unsucc"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [130]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5            0.0
6            1.0
7            3.0
8            1.0
9            0.0

In [131]:
dataExploit("Dept.No.", 5)

for Catagory 'Dept.No.'
-----------------------------------------------------------------------------
   Dept.No..1  Dept.No..2  Dept.No..3  Dept.No..4
0      3073.0         NaN         NaN         NaN
1      2538.0         NaN         NaN         NaN
2      2923.0      2923.0      2498.0      2548.0
3      2678.0      2678.0         NaN         NaN
4      2153.0         NaN         NaN         NaN
5      2533.0         NaN         NaN         NaN
6      3028.0      3028.0      3028.0         NaN
7      2563.0      2563.0         NaN         NaN
8      3123.0      3123.0         NaN         NaN
9         NaN         NaN         NaN         NaN

In [132]:
inp =  "Dept.No."
outp = "Departments"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [133]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments
0            0.0            1
1            0.0            1
2            0.0            3
3            0.0            1
4            0.0            1
5            0.0            1
6            1.0            1
7            3.0            1
8            1.0            1
9            0.0            0

In [137]:
dataExploit("Home.Language", 5)

for Catagory 'Home.Language'
-----------------------------------------------------------------------------
   Home.Language.1 Home.Language.2 Home.Language.3 Home.Language.4
0            Other             NaN             NaN             NaN
1              NaN             NaN             NaN             NaN
2              NaN             NaN             NaN             NaN
3              NaN             NaN             NaN             NaN
4              NaN             NaN             NaN             NaN
5              NaN             NaN             NaN             NaN
6              NaN             NaN             NaN             NaN
7              NaN             NaN             NaN             NaN
8          English         English             NaN             NaN
9              NaN             NaN             NaN             NaN
10             NaN             NaN             NaN             NaN
11             NaN             NaN             NaN             NaN
12             NaN             NaN             NaN             NaN
13             NaN             NaN             NaN             NaN
14             NaN           Other             NaN             NaN
15             NaN             NaN             NaN             NaN
16             NaN             NaN             NaN             NaN
17             NaN             NaN             NaN             NaN
18         English             NaN             NaN             NaN
19             NaN             NaN             NaN             NaN
20         English             NaN             NaN             NaN
21             NaN             NaN             NaN             NaN
22             NaN             NaN             NaN             NaN
23             NaN             NaN             NaN             NaN
24             NaN         English             NaN             NaN
25             NaN             NaN             NaN             NaN
26             NaN             NaN             NaN             NaN
27             NaN             NaN             NaN             NaN
28             NaN             NaN             NaN             NaN
29             NaN             NaN             NaN             NaN
30             NaN             NaN             NaN             NaN
31         English             NaN             NaN             NaN
32             NaN             NaN             NaN             NaN
33             NaN             NaN             NaN             NaN
34             NaN             NaN             NaN             NaN
35             NaN             NaN             NaN             NaN
36             NaN             NaN             NaN             NaN
37             NaN             NaN             NaN             NaN
38             NaN             NaN             NaN             NaN
39             NaN             NaN             NaN             NaN
40             NaN             NaN             NaN             NaN
41             NaN             NaN             NaN             NaN
42             NaN             NaN             NaN             NaN
43             NaN             NaN             NaN             NaN
44             NaN             NaN             NaN             NaN
45             NaN             NaN             NaN             NaN
46             NaN             NaN             NaN             NaN
47             NaN           Other             NaN             NaN
48             NaN             NaN             NaN             NaN
49             NaN             NaN             NaN             NaN