In [51]:
# Data Exploitation & PreProcessing

In [52]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/unimelb_training.csv', low_memory = False)
df.head(5)

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:

team_df = pd.DataFrame()

In [98]:
def dataExploit(columnName, max_range) : 
    print("for Catagory '{0}' data frame looks like below".format(columnName))
    print('-----------------------------------------------------------------------------')
    inp =  columnName
    interest_cols = [inp+".%d" % x for x in range(1,max_range)]
    data_df = df[interest_cols]
    print(data_df[::100])
    print('-----------------------------------------------------------------------------')

In [95]:
def printOutputData() : 
    print("Output Result")
    print('-----------------------------------------------------------------------------')
    print(team_df.head(10))
    print('-----------------------------------------------------------------------------')

In [56]:
def FindUniqueValues(columnName) : 
    print("Unique Values are like")
    print('-----------------------------------------------------------------------------')
    print(pd.unique(df[columnName]))
    print('-----------------------------------------------------------------------------')

In [57]:
dataExploit('A.',12)
FindUniqueValues('A..1')

for Catagory 'A.' data frame looks like below
-----------------------------------------------------------------------------
   A..1  A..2  A..3  A..4  A..5  A..6  A..7  A..8  A..9  A..10  A..11
0   4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
1   6.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
2   0.0   0.0   1.0   6.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN
3   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
4   3.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
5   7.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
6   8.0   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
7   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
8   8.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
9   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[  4.   6.   0.   3.   7.   8.   1.   2.  10.   9.  16.  nan  11.  12.
  17.  22.  15.   5.  19.  13.  27.  25.  75.  31.  18.  14.  37.  45.
  40.  34.  48.  30.  20.  29.  26.  21.  42.  68.  53.  36.  92.  74.
  32.  58.  28.  33.  23.  38. 111.  24.  90.  41.  39.  79.  84.  51.
  72. 113.  49.  35.  99. 123.  60.]
-----------------------------------------------------------------------------

In [58]:
dataExploit('A', 12)

for Catagory 'A' data frame looks like below
-----------------------------------------------------------------------------
    A.1  A.2  A.3   A.4  A.5  A.6  A.7  A.8  A.9  A.10  A.11
0   2.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  12.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   3.0  0.0  3.0  14.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3   3.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   5.0  0.0  7.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8   1.0  0.0  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [59]:
dataExploit('B', 12)

for Catagory 'B' data frame looks like below
-----------------------------------------------------------------------------
    B.1  B.2   B.3   B.4  B.5  B.6  B.7  B.8  B.9  B.10  B.11
0   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1   2.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2   5.0  0.0   3.0  12.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  13.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4   1.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  27.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6   2.0  0.0  12.0   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7   0.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  11.0  0.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9   0.0  NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [60]:
dataExploit('C', 12)

for Catagory 'C' data frame looks like below
-----------------------------------------------------------------------------
   C.1  C.2  C.3  C.4  C.5  C.6  C.7  C.8  C.9  C.10  C.11
0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
1  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
2  2.0  0.0  3.0  2.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN
3  3.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
4  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
5  6.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
6  0.0  0.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
7  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
8  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
9  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
-----------------------------------------------------------------------------

In [61]:

input_cols = ["A.", "A", "B", "C"]
output_cols = [x+".papers" for x in input_cols]

for inp, outp in zip(input_cols, output_cols):
    interest_cols = [inp+".%d" % x for x in range(1,16)]
    team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [62]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers
0        4.0       2.0       0.0       0.0
1        6.0      12.0       2.0       2.0
2        7.0      20.0      20.0       7.0
3        0.0       3.0      13.0       3.0
4        3.0       0.0       1.0       0.0
5        7.0      27.0      27.0       6.0
6        8.0      12.0      14.0       4.0
7        0.0       0.0       0.0       0.0
8        8.0       1.0      11.0       0.0
9        1.0       0.0       0.0       0.0
-----------------------------------------------------------------------------

In [63]:
dataExploit("Country.of.Birth", 5)
FindUniqueValues("Country.of.Birth.1")

for Catagory 'Country.of.Birth' data frame looks like below
-----------------------------------------------------------------------------
  Country.of.Birth.1 Country.of.Birth.2 Country.of.Birth.3 Country.of.Birth.4
0       Asia Pacific                NaN                NaN                NaN
1          Australia                NaN                NaN                NaN
2          Australia          Australia       Asia Pacific          Australia
3          Australia          Australia                NaN                NaN
4     Western Europe                NaN                NaN                NaN
5          Australia                NaN                NaN                NaN
6          Australia          Australia      Great Britain                NaN
7          Australia          Australia                NaN                NaN
8          Australia          Australia                NaN                NaN
9                NaN                NaN                NaN                NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Asia Pacific' 'Australia' 'Western Europe' nan 'North America'
 'Great Britain' 'New Zealand' 'The Americas' 'Eastern Europe'
 'South Africa' 'Middle East and Africa']
-----------------------------------------------------------------------------

In [64]:
inp = "Country.of.Birth"
outp = "Dif.countries"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

outp = "Perc_non_australian" # From 0 to 1
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_perc(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    australian = len([elem for elem in x if elem == "Australia"])
    return australian/float(total)
    
team_df[outp] = df[interest_cols].apply(compute_perc, axis =1)

In [65]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  Perc_non_australian
0        4.0       2.0       0.0       0.0              1             0.000000
1        6.0      12.0       2.0       2.0              1             1.000000
2        7.0      20.0      20.0       7.0              2             0.750000
3        0.0       3.0      13.0       3.0              1             1.000000
4        3.0       0.0       1.0       0.0              1             0.000000
5        7.0      27.0      27.0       6.0              1             1.000000
6        8.0      12.0      14.0       4.0              2             0.666667
7        0.0       0.0       0.0       0.0              1             1.000000
8        8.0       1.0      11.0       0.0              1             1.000000
9        1.0       0.0       0.0       0.0              0             0.000000
-----------------------------------------------------------------------------

In [66]:
dataExploit("Person.ID", 5)

for Catagory 'Person.ID' data frame looks like below
-----------------------------------------------------------------------------
   Person.ID.1  Person.ID.2  Person.ID.3  Person.ID.4
0      40572.0          NaN          NaN          NaN
1       9067.0          NaN          NaN          NaN
2       5967.0      27307.0      79652.0      11667.0
3      78782.0      55337.0          NaN          NaN
4      13042.0          NaN          NaN          NaN
5     301472.0          NaN          NaN          NaN
6      74292.0      82602.0      79742.0          NaN
7       1642.0      70212.0          NaN          NaN
8       1012.0      80197.0          NaN          NaN
9      89462.0          NaN          NaN          NaN
-----------------------------------------------------------------------------

In [67]:
inp = "Person.ID"
outp = "Number.people"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [68]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people
0             0.000000              1
1             1.000000              1
2             0.750000              4
3             1.000000              2
4             0.000000              1
5             1.000000              1
6             0.666667              3
7             1.000000              2
8             1.000000              2
9             0.000000              1
-----------------------------------------------------------------------------

In [69]:
dataExploit("With.PHD", 7)
FindUniqueValues("With.PHD.1")

for Catagory 'With.PHD' data frame looks like below
-----------------------------------------------------------------------------
  With.PHD.1 With.PHD.2 With.PHD.3 With.PHD.4 With.PHD.5 With.PHD.6
0        NaN        NaN        NaN        NaN        NaN        NaN
1       Yes         NaN        NaN        NaN        NaN        NaN
2       Yes         NaN       Yes         NaN        NaN        NaN
3       Yes        Yes         NaN        NaN        NaN        NaN
4       Yes         NaN        NaN        NaN        NaN        NaN
5       Yes         NaN        NaN        NaN        NaN        NaN
6       Yes        Yes         NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN        NaN        NaN
8       Yes        Yes         NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN        NaN        NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[nan 'Yes ']
-----------------------------------------------------------------------------

In [70]:
inp =  'With.PHD'
outp = "PHD"
interest_cols = [inp+".%d" % x for x in range(1,16)]
aux = df[interest_cols].replace({"Yes ": 1, np.nan: 0, "No": 0, "yes":1})
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [71]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD
0             0.000000              1  0.0
1             1.000000              1  1.0
2             0.750000              4  2.0
3             1.000000              2  2.0
4             0.000000              1  1.0
5             1.000000              1  1.0
6             0.666667              3  2.0
7             1.000000              2  0.0
8             1.000000              2  2.0
9             0.000000              1  0.0
-----------------------------------------------------------------------------

In [72]:
dataExploit("No..of.Years.in.Uni.at.Time.of.Grant", 2)
FindUniqueValues("No..of.Years.in.Uni.at.Time.of.Grant.1")

for Catagory 'No..of.Years.in.Uni.at.Time.of.Grant' data frame looks like below
-----------------------------------------------------------------------------
  No..of.Years.in.Uni.at.Time.of.Grant.1
0                            Less than 0
1                           more than 15
2                               >5 to 10
3                               >5 to 10
4                               >5 to 10
5                               >=0 to 5
6                              >10 to 15
7                                    NaN
8                               >5 to 10
9                                    NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Less than 0' 'more than 15' '>5 to 10' '>=0 to 5' '>10 to 15' nan]
-----------------------------------------------------------------------------

In [73]:
# NaN          --> 0
# Less than 0  --> 0
# >=0 to 5     --> 5
# >5 to 10     --> 10
# >10 to 15    --> 15
# more than 15 --> 20


inp =  "No..of.Years.in.Uni.at.Time.of.Grant" 
outp = "Max.years.univ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
categories_of_years = pd.Series(df[interest_cols].values.ravel()).unique()
year_converter = dict(zip(categories_of_years, [0, 0, 20, 10, 5, 15]))

aux = df[interest_cols].replace(year_converter)
team_df[outp] = aux.apply(lambda x: np.nansum(x), axis =1)

In [74]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ
0             0.000000              1  0.0             0.0
1             1.000000              1  1.0            20.0
2             0.750000              4  2.0            50.0
3             1.000000              2  2.0            15.0
4             0.000000              1  1.0            10.0
5             1.000000              1  1.0             5.0
6             0.666667              3  2.0            30.0
7             1.000000              2  0.0             0.0
8             1.000000              2  2.0            20.0
9             0.000000              1  0.0             0.0
-----------------------------------------------------------------------------

In [75]:
dataExploit('Number.of.Successful.Grant', 3)
FindUniqueValues('Number.of.Successful.Grant.1')
dataExploit('Number.of.Unsuccessful.Grant', 3)
FindUniqueValues('Number.of.Unsuccessful.Grant.1')

for Catagory 'Number.of.Successful.Grant' data frame looks like below
-----------------------------------------------------------------------------
   Number.of.Successful.Grant.1  Number.of.Successful.Grant.2
0                           0.0                           NaN
1                           0.0                           NaN
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           NaN
5                           2.0                           NaN
6                           0.0                           0.0
7                           0.0                           0.0
8                           0.0                           2.0
9                           0.0                           NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[ 0.  2.  1.  3. nan  4.  5.  6.  7.  8.  9. 11. 12. 10. 13.]
-----------------------------------------------------------------------------
for Catagory 'Number.of.Unsuccessful.Grant' data frame looks like below
-----------------------------------------------------------------------------
   Number.of.Unsuccessful.Grant.1  Number.of.Unsuccessful.Grant.2
0                             0.0                             NaN
1                             0.0                             NaN
2                             0.0                             0.0
3                             0.0                             0.0
4                             0.0                             NaN
5                             0.0                             NaN
6                             0.0                             1.0
7                             3.0                             0.0
8                             0.0                             1.0
9                             0.0                             NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[ 0.  3.  7.  1.  4.  5.  2.  6. nan  9.  8. 11. 10. 12. 13. 14. 17. 15.
 18. 19. 20. 22. 23. 24. 16. 21. 25. 26.]
-----------------------------------------------------------------------------

In [76]:
inp =  'Number.of.Successful.Grant'
outp = "Grants.succ"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

inp =  "Number.of.Unsuccessful.Grant"
outp = "Grants.unsucc"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nansum(x), axis =1)

In [77]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5            0.0
6            1.0
7            3.0
8            1.0
9            0.0
-----------------------------------------------------------------------------

In [78]:
dataExploit("Dept.No.", 5)

for Catagory 'Dept.No.' data frame looks like below
-----------------------------------------------------------------------------
   Dept.No..1  Dept.No..2  Dept.No..3  Dept.No..4
0      3073.0         NaN         NaN         NaN
1      2538.0         NaN         NaN         NaN
2      2923.0      2923.0      2498.0      2548.0
3      2678.0      2678.0         NaN         NaN
4      2153.0         NaN         NaN         NaN
5      2533.0         NaN         NaN         NaN
6      3028.0      3028.0      3028.0         NaN
7      2563.0      2563.0         NaN         NaN
8      3123.0      3123.0         NaN         NaN
9         NaN         NaN         NaN         NaN
-----------------------------------------------------------------------------

In [79]:
inp =  "Dept.No."
outp = "Departments"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

In [80]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments
0            0.0            1
1            0.0            1
2            0.0            3
3            0.0            1
4            0.0            1
5            0.0            1
6            1.0            1
7            3.0            1
8            1.0            1
9            0.0            0
-----------------------------------------------------------------------------

In [81]:
dataExploit("Home.Language", 5)
FindUniqueValues("Home.Language.1")

for Catagory 'Home.Language' data frame looks like below
-----------------------------------------------------------------------------
  Home.Language.1 Home.Language.2 Home.Language.3 Home.Language.4
0           Other             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN
5             NaN             NaN             NaN             NaN
6             NaN             NaN             NaN             NaN
7             NaN             NaN             NaN             NaN
8         English         English             NaN             NaN
9             NaN             NaN             NaN             NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['Other' nan 'English']
-----------------------------------------------------------------------------

In [82]:
inp = "Home.Language"
outp = "Perc.Lang.Eng"  
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_eng_perc(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    eng_use = len([elem for elem in x if elem == "English"])

    return eng_use/float(total)

def compute_other_perc(x) : 
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    other_use = len([elem for elem in x if elem == "Other"])
    return other_use/float(total)

team_df[outp] = df[interest_cols].apply(compute_eng_perc, axis =1)

outp = "Perc.Lang.Other" 
team_df[outp] = df[interest_cols].apply(compute_other_perc, axis =1)

In [83]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other
0            0.0            1            0.0              1.0
1            0.0            1            0.0              0.0
2            0.0            3            0.0              0.0
3            0.0            1            0.0              0.0
4            0.0            1            0.0              0.0
5            0.0            1            0.0              0.0
6            1.0            1            0.0              0.0
7            3.0            1            0.0              0.0
8            1.0            1            1.0              0.0
9            0.0            0            0.0              0.0
-----------------------------------------------------------------------------

In [84]:
dataExploit('Role',4 )
FindUniqueValues("Role.1")

for Catagory 'Role' data frame looks like below
-----------------------------------------------------------------------------
                 Role.1                  Role.2                  Role.3
0    CHIEF_INVESTIGATOR                     NaN                     NaN
1    CHIEF_INVESTIGATOR                     NaN                     NaN
2    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR
3  PRINCIPAL_SUPERVISOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
4    CHIEF_INVESTIGATOR                     NaN                     NaN
5    CHIEF_INVESTIGATOR                     NaN                     NaN
6    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR
7    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
8    CHIEF_INVESTIGATOR      CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
9    CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR  EXT_CHIEF_INVESTIGATOR
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
['CHIEF_INVESTIGATOR' 'PRINCIPAL_SUPERVISOR' 'DELEGATED_RESEARCHER'
 'EXT_CHIEF_INVESTIGATOR' nan 'STUD_CHIEF_INVESTIGATOR' 'HONVISIT'
 'EXTERNAL_ADVISOR']
-----------------------------------------------------------------------------

In [85]:
# TODO : role preprocessing
inp = "Role"  
outp = "Dif.Role"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: len(set(x[~x.isnull()])), axis =1)

outp = "Perc.CHIEF.INVESTIGATOR" # From 0 to 1
interest_cols = [inp+".%d" % x for x in range(1,16)]

def compute_perc_chief(x):
    total = len(x[~x.isnull()])
    
    if total == 0:
        return 0
    
    chief = len([elem for elem in x if elem == "CHIEF_INVESTIGATOR"])
    return chief/float(total)
    
team_df[outp] = df[interest_cols].apply(compute_perc_chief, axis =1)

In [86]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  \
0            0.0            1            0.0              1.0         1
1            0.0            1            0.0              0.0         1
2            0.0            3            0.0              0.0         3
3            0.0            1            0.0              0.0         4
4            0.0            1            0.0              0.0         1
5            0.0            1            0.0              0.0         1
6            1.0            1            0.0              0.0         2
7            3.0            1            0.0              0.0         2
8            1.0            1            1.0              0.0         2
9            0.0            0            0.0              0.0         2

   Perc.CHIEF.INVESTIGATOR
0                 1.000000
1                 1.000000
2                 0.428571
3                 0.166667
4                 1.000000
5                 1.000000
6                 0.750000
7                 0.666667
8                 0.500000
9                 0.250000
-----------------------------------------------------------------------------

In [87]:
dataExploit('Year.of.Birth',4 )
FindUniqueValues("Year.of.Birth.1")

for Catagory 'Year.of.Birth' data frame looks like below
-----------------------------------------------------------------------------
   Year.of.Birth.1  Year.of.Birth.2  Year.of.Birth.3
0           1965.0              NaN              NaN
1           1960.0              NaN              NaN
2           1955.0           1950.0           1950.0
3           1955.0           1975.0              NaN
4           1965.0              NaN              NaN
5           1950.0              NaN              NaN
6           1960.0           1960.0           1950.0
7           1965.0           1940.0              NaN
8           1945.0           1950.0              NaN
9           1930.0              NaN              NaN
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[1965. 1960. 1955. 1950. 1945. 1930. 1970. 1975. 1940. 1935.   nan 1980.
 1925. 1985.]
-----------------------------------------------------------------------------

In [88]:
inp =  'Year.of.Birth'
outp = "Average.Age"
interest_cols = [inp+".%d" % x for x in range(1,16)]
team_df[outp] = df[interest_cols].apply(lambda x: np.nanmean(2017-x), axis =1)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: Mean of empty slice
  after removing the cwd from sys.path.

In [89]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
   A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0        4.0       2.0       0.0       0.0              1
1        6.0      12.0       2.0       2.0              1
2        7.0      20.0      20.0       7.0              2
3        0.0       3.0      13.0       3.0              1
4        3.0       0.0       1.0       0.0              1
5        7.0      27.0      27.0       6.0              1
6        8.0      12.0      14.0       4.0              2
7        0.0       0.0       0.0       0.0              1
8        8.0       1.0      11.0       0.0              1
9        1.0       0.0       0.0       0.0              0

   Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0             0.000000              1  0.0             0.0          0.0
1             1.000000              1  1.0            20.0          0.0
2             0.750000              4  2.0            50.0          0.0
3             1.000000              2  2.0            15.0          0.0
4             0.000000              1  1.0            10.0          0.0
5             1.000000              1  1.0             5.0          2.0
6             0.666667              3  2.0            30.0          0.0
7             1.000000              2  0.0             0.0          0.0
8             1.000000              2  2.0            20.0          2.0
9             0.000000              1  0.0             0.0          0.0

   Grants.unsucc  Departments  Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  \
0            0.0            1            0.0              1.0         1
1            0.0            1            0.0              0.0         1
2            0.0            3            0.0              0.0         3
3            0.0            1            0.0              0.0         4
4            0.0            1            0.0              0.0         1
5            0.0            1            0.0              0.0         1
6            1.0            1            0.0              0.0         2
7            3.0            1            0.0              0.0         2
8            1.0            1            1.0              0.0         2
9            0.0            0            0.0              0.0         2

   Perc.CHIEF.INVESTIGATOR  Average.Age
0                 1.000000    52.000000
1                 1.000000    57.000000
2                 0.428571    65.750000
3                 0.166667    52.000000
4                 1.000000    52.000000
5                 1.000000    67.000000
6                 0.750000    60.333333
7                 0.666667    64.500000
8                 0.500000    69.500000
9                 0.250000    87.000000
-----------------------------------------------------------------------------

In [106]:
dataExploit('RFCD.Code', 6)

df['RFCD.Code.DIV.1'] = df['RFCD.Code.1'] // 10000
FindUniqueValues('RFCD.Code.DIV.1')

for Catagory 'RFCD.Code' data frame looks like below
-----------------------------------------------------------------------------
      RFCD.Code.1  RFCD.Code.2  RFCD.Code.3  RFCD.Code.4  RFCD.Code.5
0        280199.0          0.0          0.0          0.0          0.0
100      280100.0     291000.0          0.0          0.0          0.0
200      321015.0          0.0          0.0          0.0          0.0
300      240302.0          0.0          0.0          0.0          0.0
400      300901.0     280109.0          0.0          0.0          0.0
500      410101.0     320705.0     410402.0          0.0          0.0
600      321401.0     320603.0     270103.0          0.0          0.0
700      300501.0          0.0          0.0          0.0          0.0
800      321017.0     321028.0     321024.0          0.0          0.0
900           NaN          NaN          NaN          NaN          NaN
1000     320702.0          0.0          0.0          0.0          0.0
1100     321016.0     320999.0     320705.0          0.0          0.0
1200          NaN          NaN          NaN          NaN          NaN
1300     270199.0          0.0          0.0          0.0          0.0
1400     270201.0     321006.0     321015.0          0.0          0.0
1500     270201.0     270603.0     320700.0          0.0          0.0
1600     320305.0     320203.0          0.0          0.0          0.0
1700          NaN          NaN          NaN          NaN          NaN
1800     320804.0          0.0          0.0          0.0          0.0
1900     270402.0     270703.0          0.0          0.0          0.0
2000          NaN          NaN          NaN          NaN          NaN
2100     321004.0          0.0          0.0          0.0          0.0
2200     270199.0          0.0          0.0          0.0          0.0
2300          NaN          NaN          NaN          NaN          NaN
2400     260301.0     260206.0     260102.0          0.0          0.0
2500     370302.0     370107.0     370502.0          0.0          0.0
2600     230204.0     300803.0     300804.0          0.0          0.0
2700     270205.0     270306.0     270201.0          0.0          0.0
2800     370201.0     321019.0          0.0          0.0          0.0
2900          NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
5800     230116.0     230118.0     290303.0          0.0          0.0
5900     320702.0          0.0          0.0          0.0          0.0
6000     270199.0          0.0          0.0          0.0          0.0
6100     321015.0          0.0          0.0          0.0          0.0
6200     270103.0          0.0          0.0          0.0          0.0
6300     320202.0          0.0          0.0          0.0          0.0
6400     320702.0          0.0          0.0          0.0          0.0
6500     419901.0     410202.0     410301.0          0.0          0.0
6600     249902.0     249903.0          0.0          0.0          0.0
6700     321004.0          0.0          0.0          0.0          0.0
6800     440204.0     440207.0     440203.0          0.0          0.0
6900     300602.0     270803.0          0.0          0.0          0.0
7000     320299.0          0.0          0.0          0.0          0.0
7100     270303.0          0.0          0.0          0.0          0.0
7200     410104.0     339999.0          0.0          0.0          0.0
7300     291004.0          0.0          0.0          0.0          0.0
7400     240202.0     240402.0          0.0          0.0          0.0
7500     340207.0     340405.0     370504.0          0.0          0.0
7600     340102.0     340208.0     340213.0          0.0          0.0
7700     270403.0     270105.0     300203.0          0.0          0.0
7800     320899.0     321216.0     321299.0          0.0          0.0
7900     321004.0          0.0          0.0          0.0          0.0
8000     320705.0          0.0          0.0          0.0          0.0
8100     321199.0          0.0          0.0          0.0          0.0
8200     321013.0          0.0          0.0          0.0          0.0
8300     270199.0          0.0          0.0          0.0          0.0
8400     320405.0          0.0          0.0          0.0          0.0
8500     270103.0     270304.0          0.0          0.0          0.0
8600     321004.0          0.0          0.0          0.0          0.0
8700     270107.0     270304.0     270210.0          0.0          0.0

[88 rows x 5 columns]
-----------------------------------------------------------------------------
Unique Values are like
-----------------------------------------------------------------------------
[28. 32. 27. 26. 23. 29. 30. 38. 37. 33. nan 35. 40. 42. 21. 24. 25. 36.
 39. 34. 31. 44. 41. 43. 99.]
-----------------------------------------------------------------------------

In [ ]:
################# TEAM FEATURE PREPROCESSING COMPLETED ###################

In [148]:
## DATE -> WEEKDAY, MONTH, DAY&MONTH(1~365), DAY of MONTH(1~31), SEASON


df['Start.date'] = pd.to_datetime(df['Start.date'])

def get_weekday(x) : 
    return x.weekday()

def get_month(x) : 
    return x.month

def get_day(x) : 
    return x.day

def get_days_of_month(x) : 
    if (x == 1) | (x == 3) | (x == 5) | (x == 7) | (x == 8) | (x == 10) | (x == 12) : 
        return 31
    elif (x == 2) :
        return 29
    elif (x == 4) | (x == 6) | (x == 9) | (x == 11) : 
        return 30
    else : 
        return 0


def get_day_and_month(x) : 
    month = get_month(x)
    day_and_month = 0
    for i in range (month) : 
        day_and_month += get_days_of_month(i)
    day_and_month += get_day(x)
    
    return day_and_month


def get_season(x) : 
    x = get_month(x)
    if (x == 12) | ((x >= 1) & (x <= 2)) : 
        return 4
    elif (x >= 3) & (x <= 5) : 
        return 1
    elif (x >= 6) & (x <= 8) : 
        return 2
    else :
        return 3

In [149]:
    
team_df['Weekday'] = df['Start.date'].apply(get_weekday)
team_df['Month'] = df['Start.date'].apply(get_month)
team_df['Day.of.Month'] = df['Start.date'].apply(get_day)
team_df['Day.of.Year'] = df['Start.date'].apply(get_day_and_month)
team_df['Season'] = df['Start.date'].apply(get_season)

In [150]:
printOutputData()

Output Result
-----------------------------------------------------------------------------
      A..papers  A.papers  B.papers  C.papers  Dif.countries  \
0           4.0       2.0       0.0       0.0              1
10          2.0       4.0       0.0       0.0              1
20          1.0       1.0       2.0       0.0              1
30          0.0       0.0       0.0       0.0              1
40          0.0       2.0       5.0       2.0              1
50          0.0       3.0       0.0       0.0              1
60          0.0       1.0       2.0       1.0              0
70         37.0      40.0      17.0       4.0              2
80          7.0      20.0      20.0       7.0              2
90         10.0       6.0       8.0       1.0              1
100         0.0       4.0       4.0       0.0              1
110         9.0       4.0       2.0       2.0              2
120         0.0       0.0       0.0       0.0              1
130         0.0       2.0       0.0       1.0              1
140         3.0      10.0       4.0       1.0              1
150         0.0       0.0       0.0       0.0              0
160         1.0       6.0       6.0       1.0              2
170         0.0       1.0       2.0       0.0              2
180         0.0       8.0       4.0       0.0              1
190         0.0       6.0       0.0       0.0              1
200         2.0      13.0      13.0       3.0              1
210         6.0      10.0       7.0       6.0              1
220        16.0      21.0      24.0       6.0              1
230         3.0       3.0       0.0       1.0              1
240         1.0       2.0       0.0       1.0              1
250         0.0       0.0       0.0       0.0              1
260         3.0       0.0      10.0       2.0              1
270         0.0       2.0       0.0       1.0              1
280         0.0       0.0       0.0       0.0              0
290         1.0       3.0       2.0       2.0              1
...         ...       ...       ...       ...            ...
8410       31.0      54.0      93.0      32.0              3
8420        0.0       0.0       0.0       0.0              2
8430        8.0      17.0       6.0       1.0              1
8440        6.0       7.0      31.0      14.0              2
8450        6.0      12.0       2.0       1.0              1
8460        1.0       6.0      17.0      15.0              1
8470        1.0       3.0      12.0       9.0              0
8480        0.0       1.0       3.0       0.0              1
8490        3.0      10.0       3.0       1.0              1
8500       28.0      24.0      12.0       1.0              1
8510        8.0      10.0       5.0       5.0              1
8520        0.0       0.0       4.0       2.0              1
8530       10.0      52.0      69.0      25.0              1
8540        0.0       0.0       0.0       0.0              0
8550        0.0       0.0       0.0       0.0              0
8560        0.0       0.0       0.0       0.0              0
8570        0.0       0.0       0.0       0.0              0
8580        9.0       7.0      15.0       4.0              1
8590        0.0       0.0       0.0       0.0              0
8600        0.0       0.0       0.0       0.0              0
8610        0.0       0.0       0.0       0.0              0
8620        4.0      27.0       8.0       7.0              4
8630        0.0       0.0       1.0       0.0              2
8640        4.0       8.0      10.0       8.0              1
8650        6.0      11.0      21.0      16.0              2
8660       58.0      27.0      24.0       5.0              2
8670        2.0       2.0       1.0       0.0              1
8680        2.0       2.0       2.0       1.0              1
8690       19.0      34.0       9.0      10.0              1
8700       13.0      11.0       6.0       2.0              2

      Perc_non_australian  Number.people  PHD  Max.years.univ  Grants.succ  \
0                0.000000              1  0.0             0.0          0.0
10               1.000000              2  2.0            25.0          1.0
20               1.000000              1  1.0            10.0          1.0
30               1.000000              1  0.0             5.0          0.0
40               1.000000              1  0.0             0.0          1.0
50               1.000000              1  0.0             0.0          1.0
60               0.000000              1  0.0             0.0          0.0
70               0.750000              4  4.0            45.0          5.0
80               0.750000              4  2.0            50.0          1.0
90               0.000000              1  1.0            10.0          1.0
100              0.000000              1  1.0             5.0          0.0
110              0.500000              2  2.0            15.0          1.0
120              1.000000              1  0.0             5.0          0.0
130              1.000000              1  1.0            10.0          0.0
140              1.000000              1  1.0            15.0          0.0
150              0.000000              0  0.0             0.0          0.0
160              0.500000              2  2.0            10.0          1.0
170              0.500000              2  0.0             5.0          1.0
180              0.000000              1  1.0            10.0          2.0
190              1.000000              1  0.0             0.0          0.0
200              1.000000              1  1.0             5.0          0.0
210              0.000000              2  1.0            10.0          1.0
220              1.000000              1  1.0             5.0          1.0
230              0.000000              2  2.0            25.0          2.0
240              0.000000              1  1.0            15.0          1.0
250              1.000000              1  0.0            15.0          0.0
260              1.000000              1  0.0            15.0          1.0
270              1.000000              1  0.0             0.0          2.0
280              0.000000              0  0.0             0.0          0.0
290              1.000000              2  2.0            30.0          1.0
...                   ...            ...  ...             ...          ...
8410             0.666667              6  2.0            45.0          9.0
8420             0.000000              2  1.0            15.0          6.0
8430             1.000000              2  1.0            10.0          1.0
8440             0.666667              3  3.0            35.0          9.0
8450             1.000000              2  2.0            25.0          3.0
8460             1.000000              3  2.0            10.0          2.0
8470             0.000000              1  1.0             5.0          1.0
8480             0.000000              1  1.0             0.0          1.0
8490             1.000000              2  1.0            15.0          9.0
8500             1.000000              1  1.0            20.0          3.0
8510             0.000000              1  1.0            20.0          3.0
8520             0.000000              1  1.0            15.0          0.0
8530             1.000000              1  1.0             5.0          8.0
8540             0.000000              0  0.0             0.0          0.0
8550             0.000000              0  0.0             0.0          0.0
8560             0.000000              1  0.0             5.0          1.0
8570             0.000000              0  0.0             0.0          0.0
8580             1.000000              1  0.0            15.0          0.0
8590             0.000000              0  0.0             0.0          0.0
8600             0.000000              0  0.0             0.0          0.0
8610             0.000000              0  0.0             0.0          0.0
8620             0.400000              5  4.0            35.0          9.0
8630             0.500000              2  1.0            30.0          3.0
8640             1.000000              2  2.0            15.0          1.0
8650             0.750000              4  3.0            35.0         12.0
8660             0.666667              3  1.0            10.0         14.0
8670             0.000000              1  1.0            15.0          0.0
8680             1.000000              2  2.0            20.0          5.0
8690             1.000000              2  2.0            15.0          6.0
8700             0.000000              2  2.0            20.0          8.0

       ...    Perc.Lang.Eng  Perc.Lang.Other  Dif.Role  \
0      ...              0.0              1.0         1
10     ...              0.0              0.0         1
20     ...              1.0              0.0         1
30     ...              0.0              0.0         1
40     ...              0.0              0.0         1
50     ...              0.0              0.0         1
60     ...              0.0              0.0         2
70     ...              0.0              0.0         1
80     ...              0.0              0.0         3
90     ...              0.0              0.0         1
100    ...              0.0              1.0         1
110    ...              1.0              0.0         1
120    ...              0.0              0.0         1
130    ...              0.0              0.0         1
140    ...              0.0              0.0         1
150    ...              0.0              0.0         1
160    ...              0.0              0.0         1
170    ...              0.0              0.0         2
180    ...              0.0              0.0         2
190    ...              0.0              0.0         1
200    ...              0.0              0.0         1
210    ...              0.0              0.0         2
220    ...              0.0              0.0         2
230    ...              1.0              0.0         1
240    ...              0.0              0.0         1
250    ...              0.0              0.0         2
260    ...              0.0              0.0         1
270    ...              0.0              0.0         2
280    ...              0.0              0.0         1
290    ...              0.0              0.0         2
...    ...              ...              ...       ...
8410   ...              0.0              0.0         2
8420   ...              0.0              0.0         1
8430   ...              0.0              0.0         2
8440   ...              0.0              0.0         1
8450   ...              0.0              0.0         2
8460   ...              0.0              0.0         2
8470   ...              0.0              0.0         2
8480   ...              0.0              0.0         2
8490   ...              1.0              0.0         2
8500   ...              1.0              0.0         1
8510   ...              0.0              0.0         1
8520   ...              0.0              0.0         1
8530   ...              0.0              0.0         2
8540   ...              0.0              0.0         1
8550   ...              0.0              0.0         1
8560   ...              0.0              0.0         1
8570   ...              0.0              0.0         1
8580   ...              0.0              0.0         2
8590   ...              0.0              0.0         0
8600   ...              0.0              0.0         0
8610   ...              0.0              0.0         1
8620   ...              0.0              0.0         2
8630   ...              0.0              0.0         1
8640   ...              0.0              0.0         1
8650   ...              0.0              0.0         1
8660   ...              1.0              0.0         2
8670   ...              0.0              0.0         1
8680   ...              0.0              0.0         2
8690   ...              0.0              0.0         1
8700   ...              0.0              0.0         1

      Perc.CHIEF.INVESTIGATOR  Average.Age  Weekday  Month  Day.of.Month  \
0                    1.000000    52.000000        3      8            11
10                   1.000000    59.500000        5     11            19
20                   1.000000    52.000000        5     11            19
30                   1.000000    62.000000        5     11            19
40                   1.000000    77.000000        5     11            19
50                   1.000000    47.000000        5     11            19
60                   0.500000    72.000000        5     11            19
70                   1.000000    54.500000        5     11            19
80                   0.428571    65.750000        5     11            19
90                   1.000000    52.000000        5     11            19
100                  1.000000    52.000000        5     11            19
110                  1.000000    57.000000        5     11            19
120                  1.000000    37.000000        5     11            19
130                  1.000000    62.000000        5     11            19
140                  1.000000    62.000000        5     11            19
150                  0.000000          NaN        5     11            19
160                  1.000000    49.500000        5     11            19
170                  0.500000    52.000000        5     11            19
180                  0.500000    57.000000        5     11            19
190                  1.000000    82.000000        5     11            19
200                  1.000000    57.000000        5     11            19
210                  0.500000    57.000000        5     11            19
220                  0.500000    62.000000        5     11            19
230                  1.000000    59.500000        5     11            19
240                  1.000000    57.000000        5     11            19
250                  0.000000    67.000000        5     11            19
260                  1.000000    57.000000        5     11            19
270                  0.500000    52.000000        5     11            19
280                  0.000000          NaN        5     11            19
290                  0.666667    67.000000        5     11            19
...                       ...          ...      ...    ...           ...
8410                 0.833333    57.000000        6      8            10
8420                 1.000000    47.000000        4     10            10
8430                 0.666667    64.500000        2     10            15
8440                 1.000000    50.333333        3     10            16
8450                 0.333333    57.000000        3     10            16
8460                 0.600000    57.000000        3     10            16
8470                 0.250000    47.000000        3     10            16
8480                 0.500000    57.000000        1     10            21
8490                 0.500000    87.000000        4     10            24
8500                 1.000000    57.000000        0     10            27
8510                 1.000000    62.000000        2     10            29
8520                 1.000000    62.000000        4      1            11
8530                 0.500000    67.000000        1     11            11
8540                 0.000000          NaN        1     11            11
8550                 0.000000          NaN        1     11            11
8560                 1.000000    42.000000        2     11            19
8570                 0.000000          NaN        2     11            19
8580                 0.500000    62.000000        2     11            19
8590                 0.000000          NaN        2     11            19
8600                 0.000000          NaN        2     11            19
8610                 0.000000          NaN        2     11            19
8620                 0.800000    48.000000        3     11            20
8630                 1.000000    52.000000        2     11            26
8640                 1.000000    52.000000        3     11            27
8650                 1.000000    52.000000        1      2            12
8660                 0.750000    47.000000        1      8            12
8670                 1.000000    62.000000        6     10            12
8680                 0.500000    52.000000        2     12            17
8690                 1.000000    49.500000        4     12            19
8700                 1.000000    47.000000        1     12            23

      Day.of.Year  Season
0             224       2
10            324       3
20            324       3
30            324       3
40            324       3
50            324       3
60            324       3
70            324       3
80            324       3
90            324       3
100           324       3
110           324       3
120           324       3
130           324       3
140           324       3
150           324       3
160           324       3
170           324       3
180           324       3
190           324       3
200           324       3
210           324       3
220           324       3
230           324       3
240           324       3
250           324       3
260           324       3
270           324       3
280           324       3
290           324       3
...           ...     ...
8410          223       2
8420          284       3
8430          289       3
8440          290       3
8450          290       3
8460          290       3
8470          290       3
8480          295       3
8490          298       3
8500          301       3
8510          303       3
8520           11       4
8530          316       3
8540          316       3
8550          316       3
8560          324       3
8570          324       3
8580          324       3
8590          324       3
8600          324       3
8610          324       3
8620          325       3
8630          331       3
8640          332       3
8650           43       4
8660          225       2
8670          286       3
8680          352       4
8690          354       4
8700          358       4

[871 rows x 22 columns]
-----------------------------------------------------------------------------